<tbody id="resources-tbody">
  <% if @knowledge_area_content_records.empty? %>
    <tr>
      <td class="no_record_found" colspan="4"><%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @knowledge_area_content_records.each do |knowledge_area_content_record| %>
      <tr>
        <td><%= knowledge_area_content_record.content_record.classroom %></td>
        <td>
          <% knowledge_area_content_record.knowledge_areas.each do |knowledge_area| %>
            <span class="label label-info label-list">
              <%= knowledge_area.description %>
            </span>
          <% end %>
        </td>
        <td><%= l(knowledge_area_content_record.content_record.record_date) %></td>
        <td class="actions">
          <%= link_to(
                t('helpers.links.edit_html'),
                edit_knowledge_area_content_record_path(knowledge_area_content_record),
                class: 'btn btn-success apply_tooltip',
                data: { original_title: t('views.index.tooltips.edit') }
              ) %>
          <%= link_to(
                  t('helpers.links.destroy_html'),
                  knowledge_area_content_record_path(knowledge_area_content_record),
                  class: 'btn btn-danger apply_tooltip',
                  method: 'delete',
                  data: {
                    confirm: t('views.index.confirm'),
                    original_title: t('views.index.tooltips.delete')
                  }
                ) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
