<% content_for :js do %>
  <%= javascript_include_tag 'views/dashboard/teacher_pending_avaliations' %>
<% end %>
<h2> Avaliações pendentes
  <%= select_tag 'school_calendar_step', options_for_select(@school_calendar_steps_options, @current_school_calendar_step), class: 'input-sm pull-right', id: "school_calendar_step_pending_avaliations" %>
</h2>
<hr />

<div class="table-responsive">
  <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th width="30%"><%= Avaliation.human_attribute_name :description %></th>
        <th width="15%"><%= Avaliation.human_attribute_name :classroom %></th>
        <th width="15%"><%= Avaliation.human_attribute_name :discipline %></th>
        <th width="15%"><%= Avaliation.human_attribute_name :test_date %></th>
        <th width="25%"></th>
      </tr>
    </thead>
    <tbody id="teacher-pending-avaliations">
      <tr>
        <td class="no_record_found" colspan="5">Nenhuma avaliação pendente encontrada.</td>
      </tr>
    </tbody>
  </table>
</div>
