<% content_for :js do %>
  <%= javascript_include_tag 'views/dashboard/teacher_next_avaliations' %>
<% end %>
<legend> Próximas avaliações </legend>

<div class="table-responsive">
  <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th><%= Avaliation.human_attribute_name :description %></th>
        <th><%= Avaliation.human_attribute_name :classroom %></th>
        <th><%= Avaliation.human_attribute_name :discipline %></th>
        <th width="180px"><%= Avaliation.human_attribute_name :test_date %></th>
        <th width="234px"></th>
      </tr>
    </thead>
    <tbody id="teacher-next-avaliations">
      <tr>
        <td class="no_record_found" colspan="5">Nenhuma avaliação definida para os próximos dias.</td>
      </tr>
    </tbody>
  </table>
</div>
