<%= simple_form_for @content, html: { class: "smart-form" } do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <div class="row">
      <div class="col col-sm-4">
        <%= f.association :school_calendar, as: :select2, elements: SchoolCalendar.ordered %>
      </div>

      <div class="col col-sm-4">
        <%= f.association :unity, as: :select2, elements: Unity.ordered %>
      </div>

      <div class="col col-sm-4">
        <%= f.association :classroom, as: :select2, elements: @classrooms %>
      </div>
    </div>
    <div class="row">

      <div class="col col-sm-4">
        <%= f.association :discipline, as: :select2, elements: @disciplines %>
      </div>

      <div class="col col-sm-4">
        <%= f.input :content_date %>
      </div>

      <div class="col col-sm-4">
        <%= f.input :class_number %>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-12">
        <%= f.input :description %>
      </div>
    </div>


  </fieldset>

  <footer>
    <%= link_to "Voltar", contents_path, class: "btn btn-default" %>

    <% if @content.persisted? %>
      <%= link_to 'Histórico', history_content_path(@content), class: 'btn btn-info' %>
    <% end %>

    <%= f.submit 'Salvar', class: 'btn btn-primary' %>

  </footer>
<% end %>
