<tbody id="resources-tbody">
  <% if @contents.empty? %>
    <tr>
      <td class="no_record_found" colspan="6"> <%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.unity %></td>
        <td><%= content.classroom %></td>
        <td><%= content.discipline %></td>
        <td><%= l(content.content_date) %></td>
        <td>
          <% content.classes.each do |class_number| %>
            <span class="label label-info label-list">
              <%= class_number %>
            </span>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to t('views.index.edit'), edit_content_path(content),
                class: 'btn btn-success' %>
          <%= link_to t('views.index.delete'), content_path(content),
                class: 'btn btn-danger', method: 'delete', data: { confirm: t('views.index.confirm') } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
