<div class="widget-body no-padding">
  <div class="table-responsive">
    <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover" id="resources">
      <thead>
        <tr>
          <th><%= Content.human_attribute_name :unity %></th>
          <th><%= Content.human_attribute_name :classroom %></th>
          <th><%= Content.human_attribute_name :discipline %></th>
          <th><%= Content.human_attribute_name :content_date %></th>
          <th><%= Content.human_attribute_name :class_number %></th>
          <td class="actions" style="width: 190px;"><%= link_to t('.new_html'), new_content_path, class: "btn btn-primary" %></td>
        </tr>
      </thead>

      <%= render 'resources' %>
      <tfoot id="paginator" class="remote">
        <td colspan="6">
          <div id="page_entries_info" class="pull-left hidden-xs">
            <%= page_entries_info @contents %>
          </div>
          <div class="pull-right">
            <%= paginate @contents %>
          </div>
        </td>
      </tfoot>
    </table>
  </div>
</div>
