<% content_description=description.replace(/"/g, '&quot;' ) %>

<li class="list-group-item manual" style="display: flex;" id="<%= submodel_name %>_<%= id %>">
  <input type="checkbox" name="<%= model_name %>[<%= submodel_name %>_attributes][content_descriptions][]" id="<%= model_name %>_<%= submodel_name %>_attributes_content_descriptions_" value="<%= content_description %>" hidden="hidden"
    checked="checked" data-content_description="<%= content_description %>">
  <span style="margin-left: 5px;display: block;width: calc(100% - 85px);"><%= content_description %></span>
  <div style="width: 80px;">
    <a class="btn new-btn-success" onclick="editContent('<%= submodel_name %>_<%= id %>')">
      <i class="fa fa-pencil"></i>
    </a>
    <a class="btn new-btn-danger" onclick="removeContent('<%= submodel_name %>_<%= id %>')">
      <i class="fa fa-trash"></i>
    </a>
  </div>
</li>
