<li>
  <span>
    <a class="msg" href="<%= item.link %>" target="<%= item.open_link_in_new_tab ? '_blank' : '_self' %>">
      <span class="from"><%= item.title %><i class="icon-paperclip"></i></span>
      <time><%= item.distance_in_words %></time>
      <span class="subject"></span>
      <span class="msg-body"><%= item.description %></span>
    </a>
  </span>
</li>
