<p>
  Olá, <%= @name %>!
</p>

<p>
  Frequência lançada com sucesso para a turma <%= @classroom %> da escola <%= @unity %> nos dias <%= @dates.join(', ') %>. Para acessar o seu lançamento no sistema, <%= link_to 'clique aqui', @url %>.
</p>

<p>
  Este e-mail foi enviado automaticamente, favor não responder.
</p>
