<div class="widget-body no-padding">
  <%= simple_form_for :filter, { url: knowledge_area_teaching_plans_path, method: :get, html: { class: 'filterable_search_form' } } do |f| %>
    <div class="table-responsive">
      <table id="resources" class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <td></td>
            <td>
              <%= f.input :by_grade, as: :select2, elements: @grades,
                    label: false, placeholder: t('.by_grade') %>
            </td>
            <td>
              <%= f.input :by_knowledge_area, as: :select2, elements: @knowledge_areas,
                    label: false, placeholder: t('.by_knowledge_area') %>
            </td>
            <td>
              <%= f.input :by_school_term_type, as: :select2,
                    elements: SchoolTermTypes.to_select.to_json,
                    label: false, placeholder: t('.by_school_term_type') %>
            </td>
            <td>
              <%= f.input :by_school_term, as: :select2,
                    elements: (Bimesters.to_select + Trimesters.to_select + Semesters.to_select).uniq.to_json,
                    label: false, placeholder: t('.by_school_term') %>
            </td>
            <td>
              <%= f.input :by_author, as: :select2, elements: PlansAuthors.to_select.to_json, label: false, placeholder: t('.by_author') %>
            </td>
            <td>
              <%= link_to t('.new_html'), new_knowledge_area_teaching_plan_path,
                    class: 'btn btn-primary pull-right' %>
            </td>
          </tr>

          <tr>
            <th><%= TeachingPlan.human_attribute_name :unity %></th>
            <th><%= TeachingPlan.human_attribute_name :grade %></th>
            <th><%= KnowledgeAreaTeachingPlan.human_attribute_name :knowledge_areas %></th>
            <th><%= TeachingPlan.human_attribute_name :school_term_type %></th>
            <th><%= TeachingPlan.human_attribute_name :school_term %></th>
            <th><%= KnowledgeAreaTeachingPlan.human_attribute_name :author %></th>
            <th width="153px"></th>
          </tr>
        </thead>

        <%= render 'resources' %>

        <tfoot id="paginator" class="remote">
          <td colspan="8">
            <div id="page_entries_info" class="pull-left hidden-xs">
              <%= page_entries_info @knowledge_area_teaching_plans %>
            </div>

            <div class="pull-right">
              <%= paginate @knowledge_area_teaching_plans %>
            </div>
          </td>
        </tfoot>
      </table>
    </div>
  <% end %>
</div>
