<div class="row textarea">
  <div class="col col-sm-12">
    <%= f.input :contents, input_html: { class: 'col col-sm-12'} %>
  </div>
</div>

<div class="row textarea">
  <div class="col col-sm-12">
    <%= f.input :activities, input_html: { class: 'col col-sm-12' } %>
  </div>
</div>

<div class="row textarea">
  <div class="col col-sm-12">
    <%= f.input :objectives, input_html: { class: 'col col-sm-12' } %>
  </div>
</div>

<div class="row textarea">
  <div class="col col-sm-12">
    <%= f.input :resources, input_html: { class: 'col col-sm-12' } %>
  </div>
</div>

<div class="row textarea">
  <div class="col col-sm-12">
    <%= f.input :evaluation, input_html: { class: 'col col-sm-12' } %>
  </div>
</div>

<div class="row textarea">
  <div class="col col-sm-12">
    <%= f.input :bibliography, input_html: { class: 'col col-sm-12' } %>
  </div>
</div>
