<% content_for :js do %>
  <%= javascript_include_tag 'views/absence_justifications/form' %>
<% end %>

<%= simple_form_for @absence_justification, html: { class: "smart-form" } do |f| %>
  <%= f.error_notification %>
  <%= render 'base_errors', f: f %>

  <fieldset>
    <div class="row">
      <div class="col col-sm-4">
        <%= f.association :unity, as: :select2_unity, user: current_user %>
      </div>
      <div class="col col-sm-4">
        <%= f.input :classroom_id, as: :select2_classroom, user: current_user %>
      </div>
      <div class="row" data-discipline>
        <div class="col col-sm-4">
          <%= f.input :discipline_id, as: :select2_discipline, user: current_user,
                classroom_id: @absence_justification.classroom_id,
                required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-4">
        <%= f.input :absence_date %>
      </div>
      <div class="col col-sm-4">
        <%= f.input :absence_date_end %>
      </div>
        <div class="col col-sm-4" data-student>
          <%= f.input :student_id, as: :select2, elements: [] %>
        </div>
    </div>
    <div class="row">

      <div class="col col-sm-8">
        <%= f.input :justification %>
      </div>
    </div>

  <%= hidden_field_tag :current_date, Time.now.strftime("%d/%m/%Y") %>
  <%= hidden_field_tag :teacher_id, current_teacher %>

  </fieldset>

  <footer>
    <%= link_to "Voltar", absence_justifications_path, class: "btn btn-default" %>

    <% if @absence_justification.persisted? %>
      <%= link_to 'Histórico', history_absence_justification_path(@absence_justification), class: 'btn btn-info' %>
    <% end %>

    <%= f.submit 'Salvar', class: 'btn btn-primary' %>

  </footer>
<% end %>
