<tbody id="resources-tbody">
  <% if @absence_justifications.empty? %>
    <tr>
      <td class="no_record_found" colspan="6"> <%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @absence_justifications.each do |absence_justification| %>
      <tr>
        <td><%= absence_justification.unity ? absence_justification.unity : "Não informado" %></td>
        <td><%= absence_justification.classroom ? absence_justification.classroom : "Não informado" %></td>
        <td><span class="multiline"><%= absence_justification.decorator.students_labels %></span></td>
        <td width="70"><%= l absence_justification.absence_date %></td>
        <td width="70"><%= l absence_justification.absence_date_end %></td>
        <td>
        <%= absence_justification.decorator.author(
          current_user,
          current_user.current_role_is_admin_or_employee?
          ) %>
        </td>
        <td class="actions">
          <%= link_to 'Editar', edit_absence_justification_path(absence_justification),
            class: "btn btn-success" %>
          <%= link_to 'Excluir', absence_justification_path(absence_justification),
            class: "btn btn-danger",
            disabled: !absence_justification_destroy?(absence_justification),
            method: "delete",
            data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
