<div class="widget-body no-padding">
  <div class="table-responsive">
  <%= simple_form_for :search, {url: absence_justifications_path, method: :get,
                                html: {class: 'filterable_search_form'}} do |f| %>
    <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover" id="resources">
      <thead>
        <tr>
          <td><%= f.input :by_classroom, as: :select2, elements: @classrooms, label: false, placeholder: "Filtrar por turma" %></td>
          <td><%= f.input :by_student, label: false, placeholder: "Filtrar por aluno" %></td>
          <td><%= f.input :by_absence_date, as: :date, label: false, placeholder: "Filtrar por data inicial"%></td>
          <td><%= f.input :by_absence_date_end, as: :date, label: false, placeholder: "Filtrar por data final" %></td>
          <td></td>
        </tr>
        <tr>
          <th><%= AbsenceJustification.human_attribute_name :classroom %></th>
          <th><%= AbsenceJustification.human_attribute_name :student %></th>
          <th><%= AbsenceJustification.human_attribute_name :absence_date %></th>
          <th><%= AbsenceJustification.human_attribute_name :absence_date_end %></th>
          <td class="actions" style="width: 18px;"><%= link_to t('.new_html'), new_absence_justification_path, class: "btn btn-primary" %></td>
        </tr>
      </thead>

      <%= render 'resources' %>
      <tfoot id="paginator" class="remote">
        <td colspan="6">
          <div id="page_entries_info" class="pull-left hidden-xs">
            <%= page_entries_info @absence_justifications %>
          </div>
          <div class="pull-right">
            <%= paginate @absence_justifications %>
          </div>
        </td>
      </tfoot>
    </table>
  <% end %>
  </div>
</div>
