<tr>
  <td><%= description %></td>
  <td><%= classroom %></td>
  <td><%= discipline %></td>
  <td><%= test_date %></td>
  <td class="actions">
    <a class="btn btn-success" href="<%= url_to_edit %>" target="_blank">Editar</a>
    <a class="btn btn-primary" href="<%= url_to_post %>" target="_blank" rel="nofollow" data-method="post">Diário de avaliações</a>
  </td>
</tr>