<tr class="nested-fields">
  <td>
    <%= f.input :include, as: :boolean, label: false %>
    <%= f.input :classroom_id, as: :hidden %>
  </td>

  <td>
    <%= f.input :classroom, as: :string, label: false, disabled: true,
                input_html: { style:'width: 400px;' }%>
  </td>

  <td>
    <% avaliation_data(f.object) %>
    <%= f.input :grade_ids, as: :select2, elements: @grades.to_json, label: false,
                input_html: { value: @input_value , style:'width: 500px;'},
                readonly: !@is_multi, multiple: @is_multi %>
  </td>

  <td>
    <%= f.input :test_date, as: :date, input_html: { value: f.object.localized.test_date, style:'width: 250px;' },
                label: false%>
  </td>

</tr>
