<% content_for :js do %>
  <%= javascript_include_tag 'views/avaliations/form' %>
<% end %>
<%= simple_form_for @avaliation, html: { class: "smart-form" } do |f| %>
  <%= f.error_notification %>

  <fieldset>
      <div class="row">
        <div class="col col-sm-4">
          <%= f.association :test_setting, as: :select2, elements: @test_settings, hide_empty_element: true, input_html: { data: { hide_empty_element: true } } %>
        </div>
      </div>

    <div class="row">
      <div class="col col-sm-4">
        <%= f.input :unity, as: :select2_unity, user: current_user %>
      </div>

      <div class="col col-sm-4">
        <%= f.association :classroom, as: :select2_classroom, user: current_user, record: f.object %>
      </div>

      <div class="col col-sm-4">
        <%= f.association :discipline, as: :select2_discipline, user: current_user, record: f.object,
                classroom_id: @avaliation.classroom_id %>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-4">
        <%= f.input :test_date, as: :date, input_html: { value: f.object.localized.test_date } %>
      </div>

      <div class="col col-sm-4">
        <%= f.input :classes, as: :select2, elements: number_of_classes_elements(@number_of_classes), multiple: true, input_html: { value: f.object.classes.join(','), data: { without_json_parser: true } } %>
      </div>

      <div class="col col-sm-4">
        <%= f.association :test_setting_test, as: :select2, elements: @avaliation.test_setting.tests %>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-4">
        <%= f.input :description, required: true %>
      </div>

      <div class="col col-sm-4">
          <%= f.input :weight, required: true, input_html: { data: { inputmask: "'digits': #{@avaliation.test_setting.number_of_decimal_places}" } } %>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-12">
        <%= f.input :observations %>
      </div>
    </div>
  </fieldset>

  <footer>
    <%= link_to(t('views.form.back'), avaliations_path, class: 'btn btn-default') %>

    <%= link_to(t('views.form.history'), history_avaliation_path(@avaliation), class: 'btn btn-info') if @avaliation.persisted? %>

    <%= f.submit(t('views.form.save'), class: 'btn btn-primary', data: { disable_with: 'Salvando...'}) %>
    <%= f.submit(t('.save_and_edit_daily_notes'), class: 'btn btn-primary', data: { disable_with: 'Salvando...'}) %>
  </footer>
<% end %>
