<tbody id="resources-tbody">
  <% if @avaliations.empty? %>
    <tr>
      <td class="no_record_found" colspan="7"> <%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @avaliations.each do |avaliation| %>
      <tr>
        <td><%= avaliation.unity %></td>
        <td><%= avaliation.classroom_description %></td>
        <td><%= avaliation.discipline %></td>
        <td><%= l(avaliation.test_date) %></td>
        <td><%= avaliation.current_step %></td>
        <td><%= avaliation %></td>
        <td class="actions">
          <%= link_to t('views.index.edit'), edit_avaliation_path(avaliation), class: 'btn btn-success' %>
          <%= link_to t('views.index.delete'), avaliation_path(avaliation),
                      class: 'btn btn-danger',
                      data: { method: 'delete', confirm: t('views.index.confirm_deletion') } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
