<div class="modal fade" tabindex="-1" role="dialog" id="copy-discipline-lesson-plan-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title">Copiar plano de aula por disciplina</h4>
      </div>
      <%= simple_form_for DisciplineLessonPlanClonerForm.new, url: clone_discipline_lesson_plans_path, remote: true, html: { class: 'smart-form' } do |f| %>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-condensed table-hover">
          <thead>
            <tr>
              <th width="30%"><%= LessonPlan.human_attribute_name :classroom %></th>
              <th width="40%"><%= DisciplineLessonPlan.human_attribute_name :discipline %>
              <th width="15%"><%= LessonPlan.human_attribute_name :start_at %></th>
              <th width="15%"><%= LessonPlan.human_attribute_name :end_at %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="classroom"></td>
              <td class="discipline"></td>
              <td class="start_at"></td>
              <td class="end_at"></td>
            </tr>
          </tbody>
        </table>
        <%= f.input :discipline_lesson_plan_id, as: :hidden %>
        <div class="row">
          <div class="col-sm-12">
              <%= f.input(
                :classroom_ids,
                as: :select2,
                elements: [],
                multiple: true,
                input_html: { data: { without_json_parser: true } },
                wrapper_html: { style: "width: 95%;" }
              ) %>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" >Confirmar</button>
      </div>
      <% end %>
    </div>
  </div>
</div>