<tr class="nested-fields has-no-id">
  <td>
    <%= f.input :classroom_id, as: :select2, label: false %>
  </td>
  <td>
    <%= f.input :start_at, as: :date, label: false %>
  </td>
  <td>
    <%= f.input :end_at, as: :date, label: false %>
  </td>
  <td class="actions">
    <%= f.hidden_field :uuid %>
    <%= link_to_remove_association t('discipline_lesson_plans.content_fields.remove'), f, class: 'btn btn-danger btn-sm' %>
  </td>
</tr>
