<tbody id="resources-tbody">
  <% if @discipline_lesson_plans.empty? %>
    <tr>
      <td class="no_record_found" colspan="6"><%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @discipline_lesson_plans.each do |discipline_lesson_plan| %>
      <tr>
        <td><%= discipline_lesson_plan.lesson_plan.unity %></td>
        <td><%= discipline_lesson_plan.lesson_plan.classroom %></td>
        <td><%= discipline_lesson_plan.discipline %></td>
        <td><%= l(discipline_lesson_plan.lesson_plan.lesson_plan_date) %></td>
        <td>
          <% discipline_lesson_plan.classes.each do |class_number| %>
            <span class="label label-info label-list">
              <%= class_number %>
            </span>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to t('views.index.edit'),
                edit_discipline_lesson_plan_path(discipline_lesson_plan),
                class: 'btn btn-success' %>
          <%= link_to t('views.index.delete'),
                discipline_lesson_plan_path(discipline_lesson_plan),
                class: 'btn btn-danger', method: 'delete', data: { confirm: t('views.index.confirm') } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
