<%= simple_form_for @knowledge_area_lesson_plan, html: { class: 'smart-form' } do |f| %>
  <%= f.error_notification %>

  <%= f.simple_fields_for :lesson_plan, @knowledge_area_lesson_plan.lesson_plan.localized do |lesson_plan| %>
    <%= lesson_plan.hidden_field :id %>

    <fieldset>
      <div class="row">
        <div class="col col-sm-4">
          <%= lesson_plan.association :unity, as: :select2, elements: @unities, readonly: !current_user.admin? %>
        </div>

        <div class="col col-sm-4">
          <%= lesson_plan.association :classroom, as: :select2, elements: @classrooms %>
        </div>

        <div class="col col-sm-4">
          <%= f.input :knowledge_area_ids, as: :select2, elements: @knowledge_areas, multiple: true,
                input_html: { data: { without_json_parser: true } } %>
        </div>
      </div>

      <div class="row">
        <div class="col col-sm-4">
          <div class="control-group <%= 'error' if @knowledge_area_lesson_plan.lesson_plan.errors[:lesson_plan_date].any? %>">
            <%= lesson_plan.label :lesson_plan_date %>
            <div class="icon-addon">
              <label for="lesson_plan_date" class="fa fa-calendar"></label>
              <%= lesson_plan.text_field :lesson_plan_date, class: 'form-control date datepicker col col-sm-4' %>
            </div>

            <% if @knowledge_area_lesson_plan.lesson_plan.errors[:lesson_plan_date].any? %>
              <span class="help-inline"><%= @knowledge_area_lesson_plan.lesson_plan.errors[:lesson_plan_date].first %></span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= lesson_plan.input :contents, input_html: { class: 'col col-sm-12'} %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= lesson_plan.input :activities, input_html: { class: 'col col-sm-12' } %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= lesson_plan.input :objectives, input_html: { class: 'col col-sm-12' } %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= lesson_plan.input :resources, input_html: { class: 'col col-sm-12' } %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= lesson_plan.input :evaluation, input_html: { class: 'col col-sm-12' } %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= lesson_plan.input :bibliography, input_html: { class: 'col col-sm-12' } %>
        </div>
      </div>
    </fieldset>

    <% if @knowledge_area_lesson_plan.persisted? %>
      <fieldset>
        <legend><%= t('.additional_information') %></legend>

        <div class="row">
          <div class="col col-sm-12">
            <%= lesson_plan.input :opinion, input_html: { class: 'col col-sm-12' } %>
          </div>
        </div>
      </fieldset>
    <% end %>
  <% end %>

  <footer>
    <%= link_to t('views.form.back'), knowledge_area_lesson_plans_path, class: 'btn btn-default' %>

    <% if @knowledge_area_lesson_plan.persisted? %>
      <%= link_to t('views.form.history'),
            history_knowledge_area_lesson_plan_path(@knowledge_area_lesson_plan),
            class: 'btn btn-info' %>
    <% end %>

    <%= f.submit t('views.form.save'), class: 'btn btn-primary' %>
  </footer>
<% end %>
