<tr class="nested-fields">
  <td>
    <%= sequence %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :dependence %>
  </td>
  <td>
    <%= f.input :student_id, as: :hidden %>
    <span class="<%= student_name_class(f.object) %>">
      <%= student_name(f.object) %>
    </span>
  </td>

  <td>
    <%= f.input :value, label_html: { class: 'hidden' } %>
  </td>
</tr>
