<tr class="nested-fields">
  <td>
    <%= sequence %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :dependence %>
    <%= f.hidden_field :inactive_student %>
  </td>
  <% present(f.object) do |student| %>
    <td>
      <%= f.input :student_id, as: :hidden %>
      <span class="<%= student.student_name_class %>"><%= student.student_name %></span>
    </td>
  <% end %>
  <td>
    <%= f.input :value,
                label_html: { class: 'hidden' },
                input_html: { maxlength: GeneralConfiguration.current.max_descriptive_exam_character_count },
                readonly: f.object.inactive_student || f.object.exempted_from_discipline
                %>
  </td>
</tr>
