<div class="widget-body no-padding">
  <%= simple_form_for @descriptive_exam, html: { class: "smart-form" } do |f| %>
  <div class="alert alert-danger hidden" id="exam-rule-not-found-alert">
    <i class="fa fa-exclamation-circle fa-fw"></i>
    <%= t('.exam_rule_not_found') %>
  </div>
  <div class="alert alert-danger hidden" id="exam-rule-not-allow-descriptive-exam">
    <i class="fa fa-exclamation-circle fa-fw"></i>
    <%= t('.exam_rule_not_allow_descriptive_exam') %>
  </div>
  <%= f.error_notification %>

    <fieldset>
      <div class="row">
        <div class="col col-sm-4">
          <%= f.input :unity, as: :select2_unity, user: current_user %>
        </div>

        <div class="col col-sm-4">
          <%= f.input :classroom_id, as: :select2_classroom, user: current_user %>
        </div>

        <div class="col col-sm-4 hidden" data-descriptive-exam-discipline-container>
          <%= f.input :discipline_id, as: :select2_discipline, user: current_user,
                classroom_id: @descriptive_exam.classroom_id %>
        </div>
      </div>
      <div class="row">
        <% if @school_calendar_classroom_steps.any? %>
        <div class="col col-sm-4 hidden" data-descriptive-exam-step-container>
          <%= f.input :school_calendar_classroom_step_id, as: :select2, elements: @school_calendar_classroom_steps, required: true %>
        </div>
        <% else %>
        <div class="col col-sm-4 hidden" data-descriptive-exam-step-container>
          <%= f.input :school_calendar_step_id, as: :select2, elements: @school_calendar_steps, required: true %>
        </div>
        <% end %>
      </div>

    </fieldset>

    <footer>
      <%= f.submit 'Carregar', class: 'btn btn-primary' %>
    </footer>
  <% end %>
</div>
