<div class="table-responsive">
  <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover" id="resources">
    <thead>
      <tr>
        <th><%= t('ieducar_api_configuration.sync_table.id') %></th>
        <th><%= t('ieducar_api_configuration.sync_table.started_at') %></th>
        <th><%= t('ieducar_api_configuration.sync_table.ended_at') %></th>
        <th><%= t('ieducar_api_configuration.sync_table.time') %></th>
        <th><%= t('ieducar_api_configuration.sync_table.averaged_time') %></th>
        <th><%= t('ieducar_api_configuration.sync_table.status') %></th>
        <% if current_user.admin? %>
          <th>Ações</th>
        <% end %>
      </tr>
    </thead>

    <tbody id="resources-tbody">
      <% syncs.each do |sync| %>
        <%= render 'sync', sync: sync %>
      <% end %>
    </tbody>
  </table>
</div>
