<div class="widget-body no-padding">
  <%= simple_form_for @ieducar_api_configuration,
    url: ieducar_api_configurations_path, method: :patch, html: { class: "smart-form" } do |f| %>
    <%= f.error_notification %>

    <fieldset>
      <div class="row">
        <div class="col col-sm-6">
          <%= f.input :url %>
        </div>

        <div class="col col-sm-6">
          <%= f.input :unity_code %>
        </div>
      </div>

      <div class="row">
        <div class="col col-sm-6">
          <%= f.input :token %>
        </div>

        <div class="col col-sm-6">
          <%= f.input :secret_token %>
        </div>
      </div>
    </fieldset>

    <footer>
      <% if @ieducar_api_configuration.persisted? %>
        <% if @ieducar_api_configuration.syncronization_in_progress? %>
          <%= link_to "#",
            class: 'btn bg-color-red txt-color-white' do %>
            <i class="fa fa-cog fa-spin"></i>
            Sincronizando
          <% end %>
        <% else %>
          <%= link_to "Sincronizar", ieducar_api_configurations_syncronizations_path, method: 'post',
            class: 'btn bg-color-red txt-color-white' %>
        <% end %>

        <%= link_to 'Histórico', history_ieducar_api_configurations_path, class: 'btn btn-info' %>
      <% end %>

      <button type="submit" class="btn btn-primary">
        Salvar
      </button>
    </footer>
  <% end %>
</div>
