<%= simple_form_for @unity, html: { class: "smart-form" } do |f| %>
  <div class="row">
    <div class="col col-sm-6">
      <%= f.input :name %>
    </div>

    <div class="col col-sm-6">
      <%= f.input :email %>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-3">
      <%= f.input :phone, as: :tel %>
    </div>

    <div class="col col-sm-6">
      <%= f.input :responsible %>
    </div>

    <div class="col col-sm-3">
      <%= f.input :api_code do %>
        <i class="icon-append fa fa-question-circle"></i>
        <%= f.input_field :api_code %>
        <b class="tooltip tooltip-bottom-right">
          <i class="fa fa-warning txt-color-teal"></i>
          <%= t('unity.help.api_code') %>
        </b>
      <% end %>
    </div>
  </div>

  <%= f.association :address do |a| %>
    <%= render 'address', f: a %>
  <% end %>

  <footer>
    <%= link_to unities_path, class: "btn btn-default" do %>
      Voltar
    <% end %>

    <button type="submit" class="btn btn-primary">
      Salvar
    </button>
  </footer>
<% end %>
