<div class="widget-body">
  <div class="widget-buttons">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Ações <span class="caret"></span>
      </button>
      <ul class="dropdown-***REMOVED***">
        <li>
          <%= link_to 'Ativar', activate_batch_unities_path, id: 'activate-batch' %>
        </li>
        <li>
          <%= link_to 'Excluir', destroy_batch_unities_path, id: 'destroy-batch' %>
        </li>
      </ul>
    </div>

    <%= link_to 'Novo', new_unity_path, class: "btn btn-success" %>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered selectable" id="resources">
      <thead>
        <tr>
          <th><input type="checkbox" id="select-all"></th>
          <th><%= Unity.human_attribute_name :name %></th>
          <th><%= Unity.human_attribute_name :unit_type %></th>
          <th><%= Unity.human_attribute_name :phone %></th>
          <th><%= Unity.human_attribute_name :email %></th>
          <th><%= Unity.human_attribute_name :responsible %></th>
          <th><%= Unity.human_attribute_name :active %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @unities.each do |unity| %>
          <tr id="unity_<%= unity.id %>">
            <td>
              <input type="checkbox" name="ids[]" value="<%= unity.id %>" class="select-target">
            </td>
            <td>
              <%= link_to edit_unity_path(unity) do %>
                <%= truncate unity.to_s, length: 40 %>
              <% end %>
            </td>
            <td><%= unity.unit_type_humanize %></td>
            <td><%= unity.phone %></td>
            <td><%= unity.email %></td>
            <td><%= unity.responsible %></td>
            <td><%= I18n.t "boolean.#{unity.active}" %></td>
            <td>
              <%= link_to 'Editar', edit_unity_path(unity), class: "btn btn-success" %>
              <%= link_to 'Excluir', unity_path(unity), class: "btn btn-danger",
                title: "Excluir #{unity.to_s}",
                method: "delete", data: { confirm: "Tem certeza?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @unities %>
  </div>
</div>
