<div class="widget-body">
  <div class="row">
    <div class="col col-sm-12">
      <%= simple_form_for @last_full_system_backup, url: data_exportations_path, method: :post,
        html: { class: 'smart-form' } do |f| %>

        <%= f.error_notification %>

        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Informações</th>
              <th>Último Backup</th>
              <th style="width: 1%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Backup</td>
              <td>Exporta os dados de todas as telas/tabelas do sistema</td>
              <td>
                <% if @last_full_system_backup.completed? %>
                  <%= link_to @last_full_system_backup.created_at, @last_full_system_backup.backup_file_url %>
                <% elsif @last_full_system_backup.error? %>
                  Erro: <%= @last_full_system_backup.error_message %>
                <% end %>
              </td>
              <td>
                <% if @last_full_system_backup.started? %>
                  <%= link_to '#', class: 'btn bg-color-red txt-color-white' do %>
                    <i class="fa fa-cog fa-spin"></i>
                    Exportando...
                  <% end %>
                <% else %>
                  <%= f.submit 'Exportar', name: 'backup_type[full_system_backup]',
                    class: 'btn bg-color-red txt-color-white' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Calendários letivos</td>
              <td>
                Exporta todos os calendários letivos do ano no filtro (etapas, datas, quantidade de lançamentos)
              </td>
              <td>
                <% if @last_school_calendar_backup.completed? %>
                  <%= link_to @last_school_calendar_backup.created_at,
                    @last_school_calendar_backup.backup_file_url %>
                <% elsif @last_school_calendar_backup.error? %>
                  Erro: <%= @last_school_calendar_backup.error_message %>
                <% end %>
              </td>
              <td>
                <% if @last_school_calendar_backup.started? %>
                  <%= link_to '#', class: 'btn bg-color-red txt-color-white' do %>
                    <i class="fa fa-cog fa-spin"></i>
                    Exportando...
                  <% end %>
                <% else %>
                  <%= f.submit 'Exportar', name: "backup_type[school_calendar_backup]",
                    class: 'btn bg-color-red txt-color-white' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Acompanhamento pedagógico</td>
              <td>
                Exporta todos os dias que estão sendo contabilizados no acompanhamento pedagógico
              </td>
              <td>
                <% if @last_unique_school_days_backup.completed? %>
                  <%= link_to @last_unique_school_days_backup.created_at,
                              @last_unique_school_days_backup.backup_file_url %>
                <% elsif @last_unique_school_days_backup.error? %>
                  Erro: <%= @last_unique_school_days_backup.error_message %>
                <% end %>
              </td>
              <td>
                <% if @last_unique_school_days_backup.started? %>
                  <%= link_to '#', class: 'btn bg-color-red txt-color-white' do %>
                    <i class="fa fa-cog fa-spin"></i>
                    Exportando...
                  <% end %>
                <% else %>
                  <%= f.submit 'Exportar', name: "backup_type[unique_school_days_backup]",
                               class: 'btn bg-color-red txt-color-white' %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
