<% if f.object.errors[:permissions].present? %>
  <div class="alert alert-danger alert-block ">
    <i class="fa-fw fa fa-times"></i>
    <span class="help-inline">
      <%= raw(f.object.errors[:permissions].join("<br />")) %>
    </span>
  </div>
<% end %>
<%= hidden_field_tag :user_id, f.object.user_id %>

<tr class="nested-fields" id="user-<%= f.object.feature %>" <%= access_level_tags(f.object) %> >
  <td>
    <%= f.object.feature_humanize %>
    <%= f.hidden_field :feature, as: :hidden, value: f.object.id %>
    <%= f.hidden_field :id, as: :hidden %>
  </td>

  <td>
    <%= f.input :permission, as: :select2, elements: permissions(f.object.feature), label_html: { class: "hidden" } %>
  </td>
</tr>


