<a id="user-info-selector" href="#">
  <%= content_tag :span do %>
    <%= t('layouts.application.change_profile') %>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  <% end %>
</a>

<div id="current-role-selector">
  <%= simple_form_for user, url: set_current_role_path, html: { method: :patch, id: "user-role-form" } do |f| %>
    <%= f.hidden_field :teacher_id, value: f.object.teacher_id, class: 'teacher' %>
    <div class="errors-container"></div>

    <% if use_teacher_profile? %>
      <div id="teacher-profile-field-container" class="project-context">
        <span class="label required"><%= t('layouts.application.classroom') %></span>
        <%= f.input :teacher_profile_id,
          as: :select2,
          elements: teacher_profiles_options,
          input_html: { "data-placeholder" => t('layouts.application.select'), class: 'current-role-selector-field'},
          label: false,
          wrapper: false,
          width: '100px' %>
      </div>
    <% else %>
      <div id="role-field-container"
            class="project-context"
            <% if current_user.current_user_role_id? && current_user.user_roles.size == 1 %>
              style="display: none;"
            <% end %>
            >
        <span class="label required"><%= t('layouts.application.role') %></span>
        <%= f.input :current_user_role_id,
                    as: :select2,
                    elements: user.user_roles,
                    input_html: { "data-placeholder" => t('layouts.application.select'), class: 'current-role-selector-field'},
                    label: false,
                    wrapper: false,
                    width: '100px' %>
      </div>

      <div id="unity-field-container"
           class="project-context"
           <% unless current_user.administrator? %>
             style="display: none;"
           <% end %>
        >
        <span class="label"><%= t('layouts.application.unit') %></span>
        <%= f.input :current_unity_id,
                    as: :select2,
                    elements: current_unities,
                    input_html: { "data-placeholder" => t('layouts.application.select'), class: 'current-role-selector-field'},
                    label: false,
                    wrapper: false %>
      </div>

      <div id="school-year-field-container"
           class="project-context"
           <% unless current_user.current_role_is_admin_or_employee_or_teacher? %>
             style="display: none;"
           <% end %>
        >
        <span class="label"><%= t('layouts.application.school_year') %></span>
        <%= f.input :current_school_year,
                    as: :select2,
                    elements: current_user_available_years.to_json,
                    input_html: { "data-placeholder" => t('layouts.application.select'), class: 'current-role-selector-field'},
                    label: false,
                    wrapper: false %>
      </div>

      <div id="classroom-field-container"
           class="project-context"
           <% unless current_user.current_role_is_admin_or_employee_or_teacher? %>
             style="display: none;"
           <% end %>
        >
        <span class="label"><%= t('layouts.application.classroom') %></span>
        <%= f.input :current_classroom_id,
                    as: :select2,
                    elements: current_user_available_classrooms,
                    input_html: { "data-placeholder" => t('layouts.application.select'), class: 'current-role-selector-field'},
                    data: { dropdown: '.project-context .project-selector.classroom' },
                    wrapper: false,
                    label: false %>
      </div>

      <div id="assumed-teacher-field-container"
           class="project-context"
           <% unless current_user.current_role_is_admin_or_employee? && f.object.current_classroom_id? %>
             style="display: none;"
           <% end %>
        >
        <span class="label"><%= t('layouts.application.teacher') %></span>
        <%= f.input :current_teacher_id,
                    as: :select2,
                    elements: current_user_available_teachers,
                    input_html: { "data-placeholder" => t('layouts.application.select'), class: 'current-role-selector-field'},
                    label: false,
                    wrapper: false %>
      </div>

      <div id="discipline-field-container"
           class="project-context"
           <% unless current_user.current_teacher %>
             style="display: none;"
           <% end %>
        >
        <span class="label"><%= t('layouts.application.discipline') %></span>
        <%= f.input :current_discipline_id,
                    as: :select2,
                    wrapper: false,
                    label: false,
                    elements: current_user_available_disciplines,
                    input_html: { "data-placeholder" => t('layouts.application.select'), class: 'current-role-selector-field'},
                    data: { dropdown: '.project-context .project-selector.discipline' } %>
      </div>
    <% end %>

    <div class="select-role">
      <button type="submit" class="btn btn-sm bg-color-blueDark txt-color-white">
        <%= t('layouts.application.change_profile') %>
      </button>
      <a class="btn btn-sm bg-color-white txt-color-blueDark role-cancel"><%= t('layouts.application.cancel') %></a>
    </div>
  <% end %>
</div>

<script>
  window.profile = {
      access_level: <%= raw current_user.current_access_level ? "'#{current_user.current_access_level}'" : "null" %>
  };
</script>
