<tr class="nested-fields">
  <td width="50%">
    <%= f.input :role_id, as: :select2, elements: @roles, label_html: { class: "hidden" }, input_html: { class: "user-role" } %>
  </td>

  <td width="50%">
    <div class="user-unity <%= 'hidden' unless f.object.role_teacher? || f.object.role_employee? %>">
      <%= f.association :unity, as: :select2, elements: Unity.ordered, label_html: { class: "hidden" } %>
    </div>
  </td>

  <td class="actions">
    <%= f.input_field :id, as: :hidden %>
    <%= f.input_field :_destroy, as: :hidden %>

    <%= link_to_remove_association t('helpers.remove'), f,
      class: 'btn btn-danger btn-sm' %>
  </td>
</tr>
