<div class="widget-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="resources">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
          <th><%= User.human_attribute_name :email %></th>
          <th><%= User.human_attribute_name :login %></th>
          <th><%= User.human_attribute_name :status %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user, edit_user_path(user) %>
            </td>
            <td><%= user.email %></td>
            <td><%= user.login %></td>
            <td><%= user.status_humanize %></td>
            <td>
              <%= link_to 'Editar', edit_user_path(user), class: "btn btn-success" %>
              <%= link_to 'Excluir', user_path(user), class: "btn btn-danger", method: "delete", data: { confirm: "Tem certeza?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
