<% content_for :js do %>
  <%= javascript_include_tag 'views/users/index' %>
<% end %>

<div class="widget-body no-padding">
  <div class="table-responsive">
  <%= simple_form_for :search, {url: users_path, method: :get,
                                html: {class: 'filterable_search_form'}} do |f| %>
    <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover" id="resources">
      <thead>
        <tr>
          <td>
            <div class="btn-group">
              <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                Ações <span class="caret"></span>
              </button>
              <ul class="dropdown-***REMOVED***">
                <li>
                  <%= hidden_field :export_selected, :selected_users %>
                  <%= link_to ' Exportar selecionados', '#', id: "export-selected-users", class: 'fa fa-share' %>
                </li>
                <li>
                  <%= link_to ' Exportar tudo', export_all_users_path(format: :csv), class: 'fa fa-download' %>
                </li>
              </ul>
            </div>
          </td>
          <td><%= f.input :full_name, label: false, placeholder: "Filtrar nome" %></td>
          <td><%= f.input :email, label: false, placeholder: "Filtrar e-mail" %></td>
          <td><%= f.input :login, label: false, placeholder: "Filtrar nome de usuário" %></td>
          <td><%= f.input :status, as: :select, label: false,
                                   prompt: "Filtrar status", collection: UserStatus %></td>
          <td></td>
        </tr>
        <tr>
          <th>
            <input type="checkbox" id="select-all">
          </th>
          <th><%= User.human_attribute_name :name %></th>
          <th><%= User.human_attribute_name :email %></th>
          <th><%= User.human_attribute_name :login %></th>
          <th><%= User.human_attribute_name :status %></th>
          <th></th>
        </tr>
      </thead>

      <%= render 'resources' %>
      <tfoot id="paginator" class="remote">
        <td colspan="6">
          <div id="page_entries_info" class="pull-left hidden-xs">
            <%= page_entries_info @users %>
          </div>
          <div class="pull-right">
            <%= paginate @users %>
          </div>
        </td>
      </tfoot>
    </table>
  <% end %>
  </div>
</div>
