<div class="widget-body">
  <h2>Crie sua conta</h2>

  <div class="row">
    <%= simple_form_for @signup, as: :signup, url: registrations_path, html: { class: "signup" } do |f| %>
      <%= f.error_notification %>

      <div id="signup-wizard" class="col-sm-12">
        <fieldset>
          <legend>Dados pessoais</legend>

          <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Depois de criar sua conta você poderá acessar usando seu e-mail ou CPF.
          </div>

          <% if @signup.errors[:base].present? %>
            <div class="alert alert-danger">
              <%= @signup.errors[:base].to_sentence %>
            </div>
          <% end %>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :first_name, label: false, wrapper: 'input_group' do %>
                  <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
                  <%= f.input_field :first_name, as: :string, placeholder: 'Nome', class: 'form-control input-lg' %>
                <% end %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :last_name, label: false, wrapper: 'input_group' do %>
                  <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
                  <%= f.input_field :last_name, as: :string, placeholder: 'Sobrenome', class: 'form-control input-lg' %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :email, label: false, wrapper: 'input_group' do %>
                  <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg fa-fw"></i></span>
                  <%= f.input_field :email, as: :string, placeholder: "E-mail", class: "form-control input-lg",
                    data: { :"rule-email" => true } %>
                <% end %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :document, label: false, wrapper: 'input_group' do %>
                  <span class="input-group-addon"><i class="fa fa-file-text-o fa-lg fa-fw"></i></span>
                  <%= f.input_field :document, as: :string, placeholder: "CPF", class: "form-control input-lg",
                    data: { mask: "999.999.999-99" } %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :password, label: false, wrapper: 'input_group' do %>
                  <span class="input-group-addon"><i class="fa fa-key fa-lg fa-fw"></i></span>
                  <%= f.input_field :password, as: :password, placeholder: "Senha", class: "form-control input-lg" %>
                <% end %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :password_confirmation, label: false, wrapper: 'input_group' do %>
                  <span class="input-group-addon"><i class="fa fa-key fa-lg fa-fw"></i></span>
                  <%= f.input_field :password_confirmation, as: :password, placeholder: "Confirme a senha", class: "form-control input-lg" %>
                <% end %>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="signup-roles">
          <legend>Tipo de conta</legend>

          <% if @signup.errors[:parent_role].present? %>
            <div class="alert alert-danger">
              <%= @signup.errors[:parent_role].to_sentence %>
            </div>
          <% end %>

          <div class="row">
            <div class="col-sm-4 text-center">
              <div class="form-group">
                <div class="well well-lg well-parent-role">
                  <i class="fa fa-group fa-2x"></i><br/>
                  <strong>Acesso pais</strong>

                  <label class="checkbox">
                    <%= f.input_field :parent_role, as: :boolean, boolean_style: :inline, class: 'checkbox' %>
                    <span>Selecione esta opção se você é um pai ou responsável por aluno e deseja cadastrar-se para acessar recursos como pré-matrícula, consulta de notas, faltas, ocorrências disciplinares e outros.</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm-4 text-center">
              <div class="form-group">
                <div class="well well-lg well-student-role">
                  <i class="fa fa-mortar-board fa-2x"></i><br/>
                  <strong>Acesso alunos</strong>

                  <label class="checkbox">
                    <%= f.input_field :student_role, as: :boolean, boolean_style: :inline, class: 'checkbox' %>
                    <span>Selecione esta opção se você é um aluno já matriculado na rede de ensino e deseja cadastrar-se para acessar recursos como consulta de notas, faltas e outras informações exclusivas para alunos.</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm-4 text-center">
              <div class="form-group">
                <div class="well well-lg well-employee-role">
                  <i class="fa fa-male fa-2x"></i><br/>
                  <strong>Acesso servidores</strong>

                  <label class="checkbox">
                    <%= f.input_field :employee_role, as: :boolean, boolean_style: :inline, class: 'checkbox' %>
                    <span>Selecione esta opção se você é um servidor da rede de ensino e deseja cadastrar-se para acessar recursos como diário eletrônico e outras ferramentas administrativas exclusivas para servidores.</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <div id="parents-fields">
          <fieldset>
            <legend>Vínculo exclusivo para pais</legend>

            <div class="alert alert-info">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              O CPF e o código do aluno informados serão utilizados para localizar a matrícula do aluno. Este processo também poderá ser feito posteriormente.
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.input :student_code, label: false, wrapper: 'input_group' do %>
                    <span class="input-group-addon"><i class="fa fa-mortar-board fa-lg fa-fw"></i></span>
                    <%= f.input_field :student_code, as: :string,
                      placeholder: "Código do aluno",
                      class: "form-control input-lg",
                      rel: 'popover-hover',
                      :'data-placement' => 'bottom',
                      :'data-content' => t('registrations.tooltip.student_code'),
                      :'data-toggle'=> 'popover' %>
                  <% end %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>
                    <%= f.input_field :without_student, as: :boolean, boolean_style: :inline, class: 'checkbox' %>
                    <span>Nenhum aluno matriculado ou não sei o código</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="alert alert-danger fade in hide" id="api-errors">
              <i class="fa-fw fa fa-times"></i>
              <span class="error-content"></span>
            </div>
          </fieldset>

          <fieldset id="students-container">
            <legend>Alunos</legend>

            <div class="alert alert-info no-margin fade in" id="students-quantity">
              <i class="fa-fw fa fa-info"></i>
              Encontramos os seguintes alunos vinculados ao seu CPF. Marque quais deseja vincular.
            </div>

            <div class="row">
              <div class="col-sm-12" id="students">
                <table class="table table-bordered table-only-inner-bordered table-hover selectable">
                  <thead>
                    <tr>
                      <th style="width:50px;"></th>
                      <th>Aluno</th>
                      <th>Matrícula</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% (f.object.students_attributes || []).each do |index, student| %>
                      <tr>
                        <td>
                          <%= hidden_field_tag "signup[students_attributes][#{index}][name]", student["name"] %>
                          <%= hidden_field_tag "signup[students_attributes][#{index}][api_code]", student["api_code"] %>
                          <%= hidden_field_tag "signup[students_attributes][#{index}][selected]", 0 %>
                          <%= check_box_tag "signup[students_attributes][#{index}][selected]", 1, %w(true t 1).include?(student["selected"]), class: "select-target" %>
                        </td>
                        <td>
                          <%= student["name"] %>
                        </td>
                        <td>
                          <%= student["api_code"] %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="form-actions">
          <div class="row">
            <div class="col-sm-12">
              <%= link_to 'Voltar', root_path, class: "btn btn-lg btn-info" %>
              <button class="btn btn-success btn-lg">Confirmar e acessar o sistema</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
