<div class="widget-body">
  <div class="row">
    <%= simple_form_for @signup, as: :signup, url: registrations_path(mod: 'parents'), html: { id: "signup-parent" } do |f| %>
      <%= f.error_notification(class: "alert-danger").to_s %>

      <div id="signup-wizard" class="col-sm-12">
        <div class="form-bootstrapWizard">
          <ul class="bootstrapWizard form-wizard">
            <li class="active" data-target="#step1">
            <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Informações básicas</span> </a>
            </li>
            <li data-target="#step2" class="">
            <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Alunos</span> </a>
            </li>
            <li data-target="#step3" class="">
            <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Cadastro do usuário</span> </a>
            </li>
            <li data-target="#step4" class="">
            <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">Finalizar</span> </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="tab-content">

          <div class="tab-pane active" id="tab1">
            <br>
            <h3><strong>Passo 1 </strong> - Informações básicas</h3>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.input :document, label: false, wrapper: 'input_group' do %>
                    <span class="input-group-addon"><i class="fa fa-file-text-o fa-lg fa-fw"></i></span>
                    <%= f.input_field :document, as: :string,
                      placeholder: "CPF", class: "form-control input-lg", data: { mask: "999.999.999-99" } %>
                  <% end %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.input :student_code, label: false, wrapper: 'input_group' do %>
                    <span class="input-group-addon"><i class="fa fa-mortar-board fa-lg fa-fw"></i></span>
                    <%= f.input_field :student_code, as: :string, placeholder: "Código do aluno", class: "form-control input-lg" %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="alert alert-danger fade in hide" id="api-errors">
              <i class="fa-fw fa fa-times"></i>
              <span class="error-content"></span>
            </div>
          </div>

          <div class="tab-pane" id="tab2">
            <br>
            <h3><strong>Passo 2 </strong> - Alunos</h3>

            <div class="alert alert-info no-margin fade in" id="students-quantity">
              <i class="fa-fw fa fa-info"></i>
              Encontramos mais os seguintes alunos vinculados ao seu CPF, desejar vincular?
            </div>

            <div class="row">
              <div class="col-sm-12" id="students">
                <table class="table table-bordered table-hover selectable">
                  <thead>
                    <tr>
                      <th style="width:50px;"></th>
                      <th>Aluno</th>
                      <th>Matrícula</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% (f.object.students_attributes || []).each do |index, student| %>
                      <tr>
                        <td>
                          <input type="hidden" name="signup[students_attributes][<%= index %>][name]" value="<%= student["name"] %>">
                          <input type="hidden" name="signup[students_attributes][<%= index %>][api_code]" value="<%= student["api_code"] %>">
                          <input type="checkbox" name="signup[students_attributes][<%= index %>][selected]"
                            value=true <%= 'checked=checked' if student["selected"].present? %>>
                        </td>
                        <td>
                          <%= student["name"] %>
                        </td>
                        <td>
                          <%= student["api_code"] %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab3">
            <br>
            <h3><strong>Passo 3 </strong> - Cadastro do usuário</h3>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.input :celphone, label: false, wrapper: 'input_group' do %>
                    <span class="input-group-addon"><i class="fa fa-mobile fa-lg fa-fw"></i></span>
                    <%= f.input_field :celphone, as: :tel, placeholder: "Celular", class: "form-control input-lg" %>
                  <% end %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.input :email, label: false, wrapper: 'input_group' do %>
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg fa-fw"></i></span>
                    <%= f.input_field :email, as: :string, placeholder: "E-mail", class: "form-control input-lg",
                      data: { :"rule-email" => true } %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.input :password, label: false, wrapper: 'input_group' do %>
                    <span class="input-group-addon"><i class="fa fa-key fa-lg fa-fw"></i></span>
                    <%= f.input_field :password, as: :password, placeholder: "Senha", class: "form-control input-lg" %>
                  <% end %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.input :password_confirmation, label: false, wrapper: 'input_group' do %>
                    <span class="input-group-addon"><i class="fa fa-key fa-lg fa-fw"></i></span>
                    <%= f.input_field :password_confirmation, as: :password, placeholder: "Confirme a senha", class: "form-control input-lg" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>


          <div class="tab-pane" id="tab4">
            <br>
            <h3><strong>Passo 4 </strong> - Finalizar</h3>

            <div class="text-center">
              <button class="btn btn-success btn-lg">Confirmar e acessar o sistema</button>
            </div>
          </div>

          <div class="form-actions">
            <div class="row">
              <div class="col-sm-12">
                <ul class="pager wizard no-margin">
                  <li class="previous">
                    <%= link_to 'Voltar', new_registration_path, class: "btn btn-lg" %>
                  </li>

                  <li class="next">
                    <a href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Próximo </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
