<tr class="nested-fields dynamic">
  <td>
    <div class="control-group hidden conceptual_exam_conceptual_exam_values_discipline_id">
      <div class="controls input">
        <input class="hidden" type="hidden" name="conceptual_exam[conceptual_exam_values_attributes][<%= element_id %>][discipline_id]" id="conceptual_exam_conceptual_exam_values_attributes_<%= element_id %>_discipline_id" value=<%= discipline_id %>>
        <input class="hidden" type="hidden" name="conceptual_exam[conceptual_exam_values_attributes][<%= element_id %>][exempted_discipline]" id="conceptual_exam_conceptual_exam_values_attributes_<%= element_id %>_exempted_discipline" value='false'>
        <input class="hidden" type="hidden" name="conceptual_exam[conceptual_exam_values_attributes][<%= element_id %>][_destroy]" id="conceptual_exam_conceptual_exam_values_attributes_<%= element_id %>__destroy">
      </div>
    </div>

    <span class="discipline_description">
      <%= discipline_description %>
    </span>
  </td>

  <% $.each(old_values, function (key, value) { %>
    <td class="old_step_column"> <%= old_values[key]['values'][discipline_id] || '-' %> </td>
  <% }); %>

  <td>
    <div class="control-group select2 optional conceptual_exam_conceptual_exam_values_value">
      <label class="select2 optional control-label hidden" for="conceptual_exam_conceptual_exam_values_attributes_<%= element_id %>_value">
        Conceito
      </label>

      <div class="controls input">
        <input class="select2 optional conceptual-exam-value-select2" type="hidden" style="width: 100%;" data-elements="[]" data-multiple="false" name="conceptual_exam[conceptual_exam_values_attributes][<%= element_id %>][value]" id="conceptual_exam_conceptual_exam_values_attributes_<%= element_id %>_value">
      </div>
    </div>
  </td>
</tr>
