<tr class="nested-fields dynamic">
  <td>
    <div class="control-group hidden final_recovery_diary_record_recovery_diary_record_students_student_id">
      <div class="controls input">
        <input class="hidden" type="hidden" name="final_recovery_diary_record[recovery_diary_record_attributes][students_attributes][<%= element_id %>][student_id]" id="final_recovery_diary_record_recovery_diary_record_attributes_students_attributes_<%= element_id %>_student_id" value=<%= id %>>
      </div>
    </div>
    <span class="multiline"><%= name %></span>
  </td>

  <td>
    <span class="needed_score">
      <%= needed_score %>
    </span>
  </td>

  <td>
    <div class="control-group decimal optional final_recovery_diary_record_recovery_diary_record_students_score">
      <label class="decimal optional control-label hidden" for="final_recovery_diary_record_recovery_diary_record_attributes_students_attributes_<%= element_id %>_score">
        Nota
      </label>
      <div class="controls input">
        <input class="string decimal form-control decimal form-control decimal optional" type="decimal" name="final_recovery_diary_record[recovery_diary_record_attributes][students_attributes][<%= element_id %>][score]" id="final_recovery_diary_record_recovery_diary_record_attributes_students_attributes_<%= element_id %>_score">
      </div>
    </div>
  </td>
</tr>
