<tbody id="resources-tbody">
  <% if @observation_diary_records.empty? %>
    <tr>
      <td class="no_record_found" colspan="5"><%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @observation_diary_records.each do |observation_diary_record| %>
      <tr>
        <td><%= observation_diary_record.unity %></td>
        <td><%= observation_diary_record.classroom %></td>
        <td><%= observation_diary_record.discipline %></td>
        <td><%= l(observation_diary_record.date) %></td>
        <td class="actions">
          <%= link_to t('views.index.edit'),
                edit_observation_diary_record_path(observation_diary_record),
                class: 'btn btn-success' %>
          <%= link_to t('views.index.delete'),
                observation_diary_record_path(observation_diary_record),
                class: 'btn btn-danger', method: 'delete', data: { confirm: t('views.index.confirm') } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
