<tbody id="resources-tbody">
  <% if @school_calendar_events.empty? %>
    <tr>
      <td class="no_record_found" colspan="6"> <%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @school_calendar_events.each do |school_calendar_event| %>
      <tr>
        <td><%= school_calendar_event.duration %></td>
        <td><%= school_calendar_event.description %></td>
        <td><%= school_calendar_event.event_type_humanize %></td>
        <td><%= school_calendar_event.grade %></td>
        <td><%= school_calendar_event.classroom %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_school_calendar_school_calendar_event_path(@school_calendar, school_calendar_event),
            class: "btn btn-success" %>
          <%= link_to '#', class: 'btn btn-danger',
                      data: { toggle: "modal", target: "#modal-delete-school_calendar_event-#{school_calendar_event.id}" } do %>
            Excluir
          <% end %>
          <%= render 'confirm_delete_event_model', :school_calendar_event => school_calendar_event %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
