<div class="widget-body no-padding">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed table-hover" id="resources">
      <thead>
        <tr>
          <th><%= SchoolCalendarEvent.human_attribute_name :event_date %></th>
          <th><%= SchoolCalendarEvent.human_attribute_name :description %></th>
          <th><%= SchoolCalendarEvent.human_attribute_name :event_type %></th>
          <td class="actions" style="width: 160px;"><%= link_to t('.new_html'), new_school_calendar_school_calendar_event_path, class: "btn btn-primary" %></td>
        </tr>
      </thead>

      <%= render 'resources' %>
      <tfoot id="paginator" class="remote">
        <td colspan="4">
          <div id="page_entries_info" class="pull-left hidden-xs">
            <%= page_entries_info @school_calendar_events %>
          </div>
          <div class="pull-right">
            <%= paginate @school_calendar_events %>
          </div>
        </td>
      </tfoot>
    </table>
  </div>
</div>
