<tbody id="modal-resources-tbody">
<% if @teacher_percents.empty? %>
  <tr>
    <td class="no_record_found" colspan="4"> <%= t('views.index.no_record_found')%></td>
  </tr>
<% else %>
  <% @teacher_percents.each do |record| %>
    <tr>
      <td id='teacher_name'>
        <%= record.teacher_name %>
      </td>
      <td>
        <%= record.frequency_percentage.round(2) %>%
        <div class="frequency_percentage_total">
          <div class="frequency_percentage_done", id='teacher_frequency_percentage_done',
                style="width: <%= record.frequency_percentage.round(2)%>%">
          </div>
        </div>
      </td>
      <td>
        <%= record.content_record_percentage.round(2) %>%
        <div class="content_record_percentage_total">
          <div class="content_record_percentage_done", id='teacher_content_record_percentage_done',
                style="width: <%= record.content_record_percentage.round(2)%>%">
          </div>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>
</tbody>
