<tr class="nested-fields">
  <td>
    <%= f.input :description, label_html: { class: 'hidden' } %>
  </td>

  <td>
    <%= f.input :weight, label_html: { class: 'hidden' }, input_html: { value: number_with_precision(f.object.weight, precision: @test_setting.number_of_decimal_places ? @test_setting.number_of_decimal_places : 0) } %>
  </td>

  <td>
    <%= f.input :test_type, as: :select2, elements: TestTypes.to_select.to_json, label_html: { class: 'hidden' } %>
  </td>

  <td>
    <%= f.input :allow_break_up, label_html: { class: 'hidden' } %>
  </td>

  <td class="actions">
    <%= f.hidden_field :id %>
    <%= link_to_remove_association t('.remove'), f, class: 'btn btn-danger btn-sm' %>
  </td>
</tr>
