<tr class="nested-fields">
  <td>
    <%= f.input :description, label_html: { class: 'hidden' } %>
  </td>

  <td>
    <%= f.input :weight, label_html: { class: 'hidden' }, input_html: { data: { inputmask: "'digits': #{@test_setting.number_of_decimal_places}" } } %>
  </td>

  <td>
    <%= f.input :allow_break_up, label_html: { class: 'hidden' } %>
  </td>

  <td class="actions">
    <%= f.hidden_field :id %>
    <%= link_to_remove_association t('.remove'), f, class: 'btn btn-danger btn-sm' %>
  </td>
</tr>
