<div class="widget-body no-padding">
  <%= simple_form_for :filter, { url: avaliation_exemptions_path, method: :get, html: { class: 'filterable_search_form' } } do |f| %>
    <div class="table-responsive">
      <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover" id="resources">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"><%= f.input :by_grade_description, label: false, placeholder: t('.by_grade') %></th>
            <th scope="col"><%= f.input :by_classroom_description, label: false, placeholder: t('.by_classroom') %></th>
            <th scope="col"><%= f.input :by_student_name, label: false, placeholder: t('.by_student_name') %></th>
            <th scope="col"><%= f.input :by_avaliation_description, label: false, placeholder: t('.by_avaliation') %></th>
            <th scope="col"><%= f.input :by_created_at, as: :date, label: false, placeholder: t('.by_created_at') %></th>
            <th scope="col"><%= link_to t('.new_html'), new_avaliation_exemption_path, class: 'btn btn-primary pull-right' %></th>
          </tr>
          <tr>
            <th scope="col"><%= AvaliationExemption.human_attribute_name :unity %></th>
            <th scope="col"><%= AvaliationExemption.human_attribute_name :grade %></th>
            <th scope="col"><%= AvaliationExemption.human_attribute_name :classroom %></th>
            <th scope="col"><%= AvaliationExemption.human_attribute_name :student %></th>
            <th scope="col"><%= AvaliationExemption.human_attribute_name :avaliation %></th>
            <th scope="col"><%= AvaliationExemption.human_attribute_name :created_at %></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <%= render 'resources' %>

        <tfoot id="paginator" class="remote">
          <td colspan="7">
            <div id="page_entries_info" class="pull-left hidden-xs">
              <%= page_entries_info @avaliation_exemptions %>
            </div>
            <div class="pull-right">
              <%= paginate @avaliation_exemptions %>
            </div>
          </td>
        </tfoot>
      </table>
    </div>
  <% end %>
</div>
