<div class="widget-body no-padding">
  <%= simple_form_for :search, { url: avaliation_exemptions_path, method: :get, html: { class: 'filterable_search_form' } } do |f| %>
    <div class="table-responsive">
      <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover" id="resources">
        <thead>
          <tr>
            <td><%= f.input :by_unity, label: false, placeholder: t('.by_unity') %></td>
            <td><%= f.input :by_grade, label: false, placeholder: t('.by_grade') %></td>
            <td><%= f.input :by_classroom, label: false, placeholder: t('.by_classroom') %></td>
            <td><%= link_to t('.new_html'), new_avaliation_exemption_path, class: 'btn btn-primary pull-right' %></td>
          </tr>
          <tr>
            <th><%= AvaliationExemption.human_attribute_name :number %></th>
            <th><%= AvaliationExemption.human_attribute_name :number %></th>
            <th><%= AvaliationExemption.human_attribute_name :number %></th>
            <th></th>
          </tr>
        </thead>

        <tbody id="resources-tbody">
          <% if @avaliation_exemptions.empty? %>
            <tr>
              <td class="no_record_found" colspan="4"> <%= t('views.index.no_record_found')%></td>
            </tr>
          <% else %>
            <% @avaliation_exemptions.map { |avaliation_exemption| avaliation_exemption.localized }.each do |avaliation_exemption| %>
              <tr>
                <td><%= avaliation_exemption.avaliation_id %></td>
                <td><%= avaliation_exemption.student_id %></td>
                <td><%= avaliation_exemption.reason %></td>
                <td>
                  <%= link_to 'Excluir', avaliation_exemption_path(avaliation_exemption), class: "btn btn-danger", method: "delete", data: { confirm: "Tem certeza?" } %>
                  <%= link_to t('views.index.edit'), edit_avaliation_exemption_path(avaliation_exemption), class: "btn btn-success pull-right" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>

        <tfoot id="paginator" class="remote">
          <td colspan="4">
            <div id="page_entries_info" class="pull-left hidden-xs">
              <%= page_entries_info @avaliation_exemptions %>
            </div>
            <div class="pull-right">
              <%= paginate @avaliation_exemptions %>
            </div>
          </td>
        </tfoot>
      </table>
    </div>
  <% end %>
</div>
