<tr class="nested-fields">
  <td>
    <%= sequence %>
  </td>
  <td>
    <% name_class = frequency_student_name_class(dependence, active, exempted_from_discipline) %>
    <% student_name = frequency_student_name(student, dependence, active, exempted_from_discipline) %>
    <span class="<%= name_class %>"><%= student_name %></span>
  </td>

  <% @daily_frequencies.each do |daily_frequency| %>
    <% class_number = daily_frequency.class_number || 0 %>
    <% daily_frequency_path = "daily_frequency[daily_frequencies]" %>
    <% daily_frequency_student_path = "#{daily_frequency_path}[#{class_number}][students_attributes]" %>

    <input type="hidden" name="<%= daily_frequency_path %>[<%= class_number %>][class_number]"
      value="<%= class_number %>">

    <% unique_id = "#{class_number.to_s.rjust(10, '0')}#{student.id.to_s.rjust(10, '0')}" %>
    <%= simple_fields_for "#{daily_frequency_student_path}[#{unique_id}]",
      daily_frequency_student = daily_frequency.build_or_find_by_student(student) do |f| %>
      <td>
        <%= f.hidden_field :id, value: daily_frequency_student.id %>
        <%= f.hidden_field :daily_frequency_id, value: daily_frequency.id %>
        <%= f.hidden_field :student_id, value: student.id %>
        <%= f.hidden_field :dependence, value: dependence %>
        <%= f.hidden_field :active, value: active %>

        <label class="checkbox <%= active && !exempted_from_discipline ? "" : "state-disabled" %>">
          <%= f.check_box :present, disabled: !active || exempted_from_discipline %>
          <i></i>
        </label>
      </td>
    <% end %>
  <% end %>
</tr>
