<tr class="nested-fields <%= dependence ? 'warning' : '' %>">
  <td>
    <%= sequence %>
  </td>
  <td>
    <%= "#{dependence ? '* ' : ''}#{student.to_s}" %>
  </td>

  <% @daily_frequencies.each do |daily_frequency| %>
    <%= fields_for 'daily_frequency_student[]', item = daily_frequency.build_or_find_by_student(student), index: nil do |f| %>
      <td>
        <%= f.hidden_field :daily_frequency_id, value: daily_frequency.id %>
        <%= f.hidden_field :student_id, value: student.id %>
        <%= f.hidden_field :dependence, value: dependence %>

        <label class="checkbox">
          <%= f.check_box :present %>
          <i></i>
        </label>
      </td>
    <% end %>
  <% end %>
</tr>
