<tr class="nested-fields">
  <td>
    <%= sequence %>
  </td>
  <td>
    <span class="<%= frequency_student_name_class(dependence, active, exempted_from_discipline) %>">
      <%= frequency_student_name(student, dependence, active, exempted_from_discipline) %>
    </span>
  </td>

  <% @daily_frequencies.each do |daily_frequency| %>
    <%= fields_for 'daily_frequency_student[]', item = daily_frequency.build_or_find_by_student(student), index: nil do |f| %>
      <td>
        <%= f.hidden_field :daily_frequency_id, value: daily_frequency.id %>
        <%= f.hidden_field :student_id, value: student.id %>
        <%= f.hidden_field :dependence, value: dependence %>
        <%= f.hidden_field :active, value: active %>

        <label class="checkbox <%= active && !exempted_from_discipline ? "" : "state-disabled" %>">
          <%= f.check_box :present, disabled: !active || exempted_from_discipline %>
          <i></i>
        </label>
      </td>
    <% end %>
  <% end %>
</tr>
