<div class="widget-body no-padding">
  <table class="table table-bordered table-only-inner-bordered">
    <thead>
      <th><%= DailyFrequency.human_attribute_name :unity %></th>
      <th><%= DailyFrequency.human_attribute_name :classroom %></th>
      <th><%= DailyFrequency.human_attribute_name :discipline %></th>
      <th><%= DailyFrequency.human_attribute_name :frequency_date %></th>
    </thead>
    <tbody style="border-bottom: 1px solid #ccc;">
      <td><%= @daily_frequencies.first.classroom.unity %></td>
      <td><%= @daily_frequencies.first.classroom %></td>
      <td><%= @daily_frequencies.first.discipline || 'Todas' %></td>
      <td><%= l @daily_frequencies.first.frequency_date %></td>
    </tbody>
  </table>

  <%= form_tag update_multiple_daily_frequencies_path, method: :put, class: 'smart-form' do %>
    <table class="table table-bordered table-only-inner-bordered table-striped table-hover">
      <thead>
        <th style="width: 65px;">Sequencial</th>
        <th style="min-width: 200px;"><%= DailyFrequencyStudent.human_attribute_name :student %></th>
        <% @daily_frequencies.each do |daily_frequency| %>
            <th>
              <% if daily_frequency.class_number? %>
                <%= daily_frequency.class_number.to_s + 'ª Aula - '%>
              <% end %>
              <%= DailyFrequencyStudent.human_attribute_name(:present) %>
            </th>
        <% end %>
      </thead>
      <tbody>
        <% sequence = 0 %>
        <% @normal_students.each do |student| %>
          <% sequence += 1 %>

          <%= render 'student_fields', student: student, sequence: sequence, dependence: false %>
        <% end %>
        <% if @dependence_students.any? %>
          <% @dependence_students.each do |student| %>
            <% sequence += 1 %>
            <%= render 'student_fields', student: student, sequence: sequence, dependence: true %>
          <% end %>

          <tr>
            <td colspan="<%= 2 + @daily_frequencies.count %>">
              <%= t('.dependence_students_legend') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <footer>
      <%= link_to t('.back'), new_daily_frequency_path, class: 'btn btn-default pull-right' %>
      <%= link_to t('.destroy'), destroy_multiple_daily_frequencies_path(daily_frequencies_ids: @daily_frequencies.map(&:id)),
                                 method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-danger' %>
      <div class="btn-group pull-right">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
          <%= t('.print') %> <span class="caret"></span>
        </button>
        <ul class="dropdown-***REMOVED***">
          <li>
            <%= link_to(t('.by_month'), attendance_record_report_path(attendance_record_report_form: params_for_print_month(@daily_frequencies)),
                  method: :post, target: '_new') %>

          </li>
          <li>
            <%= link_to(t('.by_step'), attendance_record_report_path(attendance_record_report_form: params_for_print_step(@daily_frequencies)),
                  method: :post, target: '_new') %>
          </li>
        </ul>
      </div>

    </footer>
  <% end %>
</div>
