<div class="widget-body no-padding">
  <table class="table table-bordered">
    <thead>
      <th><%= DailyFrequency.human_attribute_name :unity %></th>
      <th><%= DailyFrequency.human_attribute_name :classroom %></th>
      <th><%= DailyFrequency.human_attribute_name :discipline %></th>
      <th><%= DailyFrequency.human_attribute_name :frequency_date %></th>
    </thead>
    <tbody style="border-bottom: 1px solid #ccc;">
      <td><%= @daily_frequencies.first.classroom.unity %></td>
      <td><%= @daily_frequencies.first.classroom %></td>
      <td><%= @daily_frequencies.first.discipline %></td>
      <td><%= l @daily_frequencies.first.frequency_date %></td>
    </tbody>
  </table>

  <%= form_tag update_multiple_daily_frequencies_path, method: :put, class: 'smart-form' do %>
    <table class="table table-bordered table-striped table-hover">
      <colgroup>
        <col />
        <col style="width: 200px;" />
      </colgroup>
      <thead>
        <th><%= DailyFrequencyStudent.human_attribute_name :student %></th>
        <% @daily_frequencies.each do |daily_frequency| %>
            <th>
              <%= daily_frequency.class_number.to_s + 'ª Aula - ' + DailyFrequencyStudent.human_attribute_name(:present) %>
            </th>
        <% end %>
      </thead>
      <tbody>
        <% @students.each do |student| %>

          <%= render 'student_fields', student: student %>
        <% end %>
      </tbody>
    </table>


    <footer>
      <%= submit_tag 'Salvar', class: 'btn btn-primary' %>
    </footer>
  <% end %>
</div>