<% content_for :js do %>
  <%= javascript_include_tag 'views/discipline_content_records/index' %>
<% end %>
<div class="widget-body no-padding">
  <%= simple_form_for :filter, { url: discipline_content_records_path, method: :get, html: { class: 'filterable_search_form' } } do |f| %>
    <div class="table-responsive">
      <table id="resources" class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <td><%= f.input :by_classroom_description, label: false, placeholder: t('.by_classroom_description') %></td>
            <td><%= f.input :by_discipline_description, label: false, placeholder: t('.by_discipline_description') %></td>
            <td><%= f.input :by_date, as: :date, label: false, placeholder: t('.by_date') %></td>
            <td>
              <%= f.input :by_author, as: :select2, elements: PlansAuthors.to_select.to_json,
                label: false, placeholder: t('.by_author') %>
            </td>
            <td><%= link_to t('.new_html'), new_discipline_content_record_path, class: 'btn btn-primary pull-right' %></td>
          </tr>

          <tr>
            <th><%= ContentRecord.human_attribute_name :classroom %></th>
            <th><%= DisciplineContentRecord.human_attribute_name :discipline %>
            <th><%= ContentRecord.human_attribute_name :record_date %></th>
            <th width="10%"><%= DisciplineContentRecord.human_attribute_name :author %></th>
            <td width="160px"></td>
          </tr>
        </thead>

        <%= render 'resources' %>

        <tfoot id="paginator" class="remote">
          <td colspan="5">
            <div id="page_entries_info" class="pull-left hidden-xs">
              <%= page_entries_info @discipline_content_records %>
            </div>

            <div class="pull-right">
              <%= paginate @discipline_content_records %>
            </div>
          </td>
        </tfoot>
      </table>
    </div>
  <% end %>
</div>
<%= render 'copy_discipline_content_record_modal' %>
