<%= content_for :recaptcha_js do %>
  <%= include_recaptcha_js %>
<% end %>

<div class="well no-padding">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "smart-form client-form" }) do |f| %>
    <header>Acessar</header>

    <fieldset>
      <section>
        <%= f.label :credentials, class: "label" %>
        <label class="input">
          <i class="icon-append fa fa-user"></i>
          <%= f.input_field :credentials, required: false, autofocus: true %>
        </label>
      </section>

      <section>
        <%= f.label :password, class: "label" %>
        <label class="input">
          <i class="icon-append fa fa-lock"></i>
          <%= f.input_field :password, required: false %>
        </label>

        <div class="note">
          <%= render "devise/shared/links" %>
        </div>
      </section>

      <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </fieldset>

    <footer>
      <%= f.button :submit, "Acessar", class: "btn btn-primary" %>
      <%= recaptcha_execute %>
    </footer>
  <% end %>
</div>
