<tr class="nested-fields dynamic">
  <td>
    <%= f.object.avaliation.description_to_teacher %>
  </td>

  <td>
    <%= f.input :note, as: :decimal, label: false %>
    <%= f.input :id, as: :hidden %>
    <%= f.input :student_id, as: :hidden %>
    <%= f.input :daily_note_id, as: :hidden %>
    <%= f.input :active, as: :hidden %>
  </td>
</tr>
