<tbody id='resources-tbody'>
  <% if @transfer_notes.empty? %>
    <tr>
      <td class='no_record_found' colspan='6'><%= t('views.index.no_record_found') %></td>
    </tr>
  <% else %>
    <% @transfer_notes.each do |transfer_note| %>
      <tr>
        <td><%= transfer_note.classroom %></td>
        <td><%= transfer_note.discipline %></td>
        <td><span class="multiline"><%= transfer_note.student %></span></td>
        <td><%= transfer_note.step %></td>
        <td><%= l(transfer_note.transfer_date) %></td>
        <td class='actions'>
          <%= link_to t('views.index.edit'), edit_transfer_note_path(transfer_note), class: 'btn btn-success' %>
          <%= link_to t('views.index.delete'), transfer_note_path(transfer_note),
            class: 'btn btn-danger', method: 'delete', data: { confirm: t('views.index.confirm') } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
