<div class='widget-body no-padding'>
  <%= simple_form_for :filter, { url: transfer_notes_path, method: :get, html: { class: 'filterable_search_form' } } do |f| %>
    <div class='table-responsive'>
      <table class='table table-bordered table-only-inner-bordered table-striped table-condensed table-hover' id='resources'>
        <thead>
          <tr>
            <td><%= f.input :by_classroom_description, label: false, placeholder: t('.by_classroom_description') %></td>
            <td><%= f.input :by_discipline_description, label: false, placeholder: t('.by_discipline_description') %></td>
            <td><%= f.input :by_student_name, label: false, placeholder: t('.by_student_name') %></td>
            <td>
              <%= f.input :by_step, as: :select2_step, classroom: current_user_classroom,
                label: false, placeholder: t('.by_step') %>
            </td>
            <td><%= f.input :by_transfer_date, as: :date, label: false, placeholder: t('.by_transfer_date') %></td>
            <td><%= link_to t('.new_html'), new_transfer_note_path, class: 'btn btn-primary pull-right' %></td>
          </tr>
          <tr>
            <th><%= TransferNote.human_attribute_name :classroom %></th>
            <th><%= TransferNote.human_attribute_name :discipline %></th>
            <th><%= TransferNote.human_attribute_name :student %></th>
            <th><%= TransferNote.human_attribute_name :step %></th>
            <th><%= TransferNote.human_attribute_name :transfer_date %></th>
            <td width='190px'></td>
          </tr>
        </thead>

        <%= render 'resources' %>

        <tfoot id='paginator' class='remote'>
          <td colspan='6'>
            <div id='page_entries_info' class='pull-left hidden-xs'>
              <%= page_entries_info @transfer_notes %>
            </div>

            <div class='pull-right'>
              <%= paginate @transfer_notes %>
            </div>
          </td>
        </tfoot>
      </table>
    </div>
  <% end %>
</div>
