<div class="widget-body no-padding">
  <div class="table-responsive">
    <table class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover" id="resources">
      <thead>
        <tr>
          <th><%= SchoolCalendar.human_attribute_name :year %></th>
          <th><%= SchoolCalendar.human_attribute_name :number_of_classes %></th>
          <td class="actions" style="width: 230px;"><%= link_to t('.new_html'), new_school_calendar_path, class: "btn btn-primary" %></td>
        </tr>
      </thead>

      <%= render 'resources' %>
      <tfoot id="paginator" class="remote">
        <td colspan="3">
          <div id="page_entries_info" class="pull-left hidden-xs">
            <%= page_entries_info @school_calendars %>
          </div>
          <div class="pull-right">
            <%= paginate @school_calendars %>
          </div>
        </td>
      </tfoot>
    </table>
  </div>
</div>
