<%= simple_form_for @role, html: { class: "smart-form" } do |f| %>
  <%= f.error_notification %>

  <ul class="nav nav-tabs bordered">
    <li class="active"><a href="#general" data-toggle="tab">Dados gerais</a></li>

    <% if @role.teacher? %>
      <li><a href="#employees" data-toggle="tab">Servidores</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="general">
      <%= render 'general', f: f %>
    </div>

    <% if @role.teacher? %>
      <div class="tab-pane" id="employees">
        <%= render 'employees', f: f %>
      </div>
    <% end %>
  </div>

  <footer>
    <%= link_to roles_path, class: "btn btn-default" do %>
      Voltar
    <% end %>

    <% if @role.persisted? %>
      <%= link_to 'Histórico', history_role_path(@role), class: 'btn btn-info' %>
    <% end %>

    <button type="submit" class="btn btn-primary">
      Salvar
    </button>
  </footer>
<% end %>
