<tr class="nested-fields" id="role-<%= f.object.feature %>" <%= access_level_tags(f.object) %> >
  <td>
    <%= f.object.feature_humanize %>
    <%= f.input_field :feature, as: :hidden %>
    <%= f.input :id, as: :hidden %>
  </td>

  <td>
    <%= f.input :permission, as: :select2, elements: permissions(f.object.feature), label_html: { class: "hidden" } %>
  </td>
</tr>
