<div class="widget-body">
  <%= link_to 'Novo', new_role_path, class: "btn btn-success" %>

  <div class="table-responsive">
    <table class="table table-bordered" id="resources">
      <thead>
        <tr>
          <th><%= Role.human_attribute_name :name %></th>
          <th><%= Role.human_attribute_name :author %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td>
              <%= link_to role, edit_role_path(role) %>
            </td>
            <td><%= role.author %></td>
            <td>
              <%= link_to 'Editar', edit_role_path(role), class: "btn btn-success" %>
              <%= link_to 'Excluir', role_path(role), class: "btn btn-danger", method: "delete", data: { confirm: "Tem certeza?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
