<div id="notification-data-modal-<%= id %>" class="modal fade" role="dialog">
  <div class="modal-dialog text-left">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t('.notification_data') %></h4>
      </div>
      <div class="modal-body">
        <% data.each do |item| %>
          <p>
            <b><%= t('.teacher') %></b><%= Teacher.find(item['teacher_id']).name %><br />
            <b><%= t('.absences') %></b>
            <%= item['absences'].map { |absence| absence.to_date.strftime("%d/%m/%Y") }.join(', ') %>
          </p>
        <% end %>
        <p>
          <b><%= t('.total_absences') %></b><%= data.map { |item| item['absences'] }.flatten.uniq.size %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t('.close') %>
        </button>
      </div>
    </div>
  </div>
</div>
