<tr class="nested-fields">
  <td>
    <%= sequence %>
    <%= f.hidden_field :id %>
  </td>
  <td>
    <%= f.input :student_id, as: :hidden %>
    <%= f.object.student.api_code + ' - ' + f.object.student.to_s %>
  </td>

  <td>
    <%= f.input :note, label_html: { class: 'hidden' },
                       input_html: { value: number_with_precision(f.object.note, precision: f.object.daily_note.avaliation.test_setting.number_of_decimal_places) } %>
  </td>
</tr>