<div class="widget-body no-padding">
  <%= simple_form_for :filter, { url: daily_notes_path, method: :get, html: { class: 'filterable_search_form' } } do |f| %>
    <div class="table-responsive">
      <table id="resources" class="table table-bordered table-only-inner-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"><%= f.input :by_classroom_id, as: :select2, elements: @classrooms, label: false, placeholder: t('.by_classroom') %></th>
            <th scope="col"><%= f.input :by_discipline_id, as: :select2, elements: @disciplines, label: false, placeholder: t('.by_discipline') %></th>
            <th scope="col"><%= f.input :by_avaliation_id, as: :select2, elements: @avaliations, label: false, placeholder: t('.by_avaliation') %></th>
            <th scope="col"><%= f.input :by_step_id, as: :select2, elements: @steps, label: false, placeholder: t('.by_step_id') %></th>
            <th scope="col"><%= f.input :by_status, as: :select2, elements: DailyNoteStatuses.to_select.to_json, label: false, placeholder: t('.by_status') %></th>
            <th scope="col"><%= link_to t('.new_html'), new_daily_note_path, class: 'btn btn-primary pull-right' %></th>
          </tr>

          <tr>
            <th scope="col"><%= DailyNote.human_attribute_name :unity %></th>
            <th scope="col"><%= DailyNote.human_attribute_name :classroom %></th>
            <th scope="col"><%= DailyNote.human_attribute_name :discipline %></th>
            <th scope="col"><%= DailyNote.human_attribute_name :avaliation %></th>
            <th scope="col"><%= DailyNote.human_attribute_name :step %></th>
            <th scope="col"><%= DailyNote.human_attribute_name :status %></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <%= render 'resources' %>

        <tfoot id="paginator" class="remote">
          <td colspan="8">
            <div id="page_entries_info" class="pull-left hidden-xs">
              <%= page_entries_info @daily_notes %>
            </div>

            <div class="pull-right">
              <%= paginate @daily_notes %>
            </div>
          </td>
        </tfoot>
      </table>
    </div>
  <% end %>
</div>
