<div class="widget-body no-padding">
  <%= simple_form_for @daily_note, html: { class: "smart-form" } do |f| %>
    <%= f.error_notification %>

    <fieldset>
      <div class="row">
        <div class="col col-sm-4">
          <%= f.association :unity, as: :select2, elements: @unities %>
        </div>

        <div class="col col-sm-4">
          <%= f.association :classroom, as: :select2, elements: @classrooms %>
        </div>

        <div class="col col-sm-4">
          <%= f.association :discipline, as: :select2, elements: @disciplines %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-4">
          <%= f.association :avaliation, as: :select2, elements: @avaliations.try(:data_for_select2) || {} %>
        </div>
      </div>

    </fieldset>

    <footer>
      <%= f.submit 'Carregar', class: 'btn btn-primary' %>
    </footer>
  <% end %>
</div>