<tbody>
  <% ApiPostingTypes.to_a.each do |value| %>
    <% next if value.last == ApiPostingTypes::FINAL_RECOVERY && step != step.school_calendar_classroom.classroom_steps.to_a.last %>

    <tr>
      <td>
        <%= value.first %>
      </td>

      <td>
        <% if instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting") %>
          <% if instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting").status == ApiPostingStatus::STARTED %>
            <i class="fa fa-cog fa-spin"></i> Enviando
          <% else %>
            <% if instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting").message.present? %>
              <p class="success">
                <i class="fa fa-check"></i>
                <%= instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting").message %>
              </p>
            <% end %>

            <% if instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting").error_message.present? %>
              <p class="danger">
                <i class="fa fa-times"></i>
                <%= instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting").error_message %>
              </p>
            <% end %>

            <% if instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting").warning_message.present? %>
            <% instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting").warning_message.each do |message| %>
              <p class="warning">
                <i class="fa fa-exclamation-triangle"></i>
                  <%= message %>
              </p>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <i>Nenhuma postagem realizada</i>
        <% end %>
      </td>

      <td>
        <% if instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting") && instance_variable_get("@school_calendar_classroom_step_#{step.id}_#{value.last}_posting").synchronization_in_progress? %>
            <%= link_to 'Enviar', '#', class: 'btn bg-color-red txt-color-white disabled' %>
        <% else %>
          <%= link_to 'Enviar', ieducar_api_exam_postings_path(school_calendar_classroom_step_id: step.id, post_type: value.last),
                                method: 'post',
                                class: 'btn bg-color-red txt-color-white' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
