<form class="smart-form">
  <div class="row">
    <div class="col col-6 control-group">
      <label class="label string required" for="name">
        <abbr title="requerido">*</abbr> Nome
      </label>

      <label class="input controls">
        <input class="string required"
          id="name"
          name="unity[name]"
          type="text"
          value="{{ name }}">
      </label>
    </div>

    <div class="col col-6 control-group">
      <label class="label string" for="email">
        E-mail
      </label>

      <label class="input controls">
        <input class="string"
          id="email"
          name="unity[email]"
          type="text"
          value="{{ email }}">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col col-3 control-group">
      <label class="label string" for="phone">
        Telefone
      </label>

      <label class="input controls">
        <input class="string phone"
          id="phone"
          name="unity[phone]"
          type="text"
          placeholder="(99) 9999-99999"
          value="{{ phone }}">
      </label>
    </div>

    <div class="col col-3 control-group">
      <label class="label string" for="api_code">
        Código iEducar
      </label>

      <label class="input controls">
        <input class="string"
          id="api_code"
          name="unity[api_code]"
          type="text"
          value="{{ api_code }}">
      </label>
    </div>

    <div class="col col-6 control-group">
      <label class="label string" for="responsible">
        Responsável
      </label>

      <label class="input controls">
        <input class="string"
          id="responsible"
          name="unity[responsible]"
          type="text"
          value="{{ responsible }}">
      </label>
    </div>
  </div>

  <footer>
    <button type="submit" class="btn btn-primary" id="commit">
      Salvar
    </button>

    <a href="/unities" class="btn btn-default">
      Voltar
    </a>
  </footer>
</form>
