<tbody id="resources-tbody">
  <% if @teaching_plans.empty? %>
    <tr>
      <td class="no_record_found" colspan="6"> <%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @teaching_plans.each do |teaching_plan| %>
      <tr>
        <td><%= teaching_plan.classroom.unity %></td>
        <td><%= teaching_plan.classroom %></td>
        <td><%= teaching_plan.discipline %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_teaching_plan_path(teaching_plan), class: "btn btn-success" %>
          <%= link_to 'Excluir', teaching_plan_path(teaching_plan),
            class: "btn btn-danger", method: "delete", data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>