<div class="row">
  <div class="col col-sm-2">
    <%= f.input :year, as: :select2, elements: school_calendar_years %>
  </div>
  <div class="col col-sm-3">
    <%= f.input :start_date, as: :date, input_html: { value: formatted_date(f.object, f.object.start_date) } %>
  </div>
  <div class="col col-sm-3">
    <%= f.input :end_date, as: :date, input_html: { value: formatted_date(f.object, f.object.end_date) } %>
  </div>
  <div class="col col-sm-4">
    <%= f.input :description %>
  </div>
</div>

<div class="row">

  <div class="col col-sm-4">
    <%= f.input :event_type, as: :select2, elements: EventTypes.to_select.to_json %>
  </div>
    <div class="col col-sm-4">
      <%= f.input :periods, as: :select2, multiple: true, elements: PeriodsDecorator.data_for_select2, required: true,
          input_html: { value: f.object.periods.join(','), data: { without_json_parser: true } } %>
    </div>
  <div class="col col-sm-4 hidden" data-event-batch-legend-container>
    <%= f.input :legend, input_html: { maxlength: 1 }, required: true %>
  </div>
  <div class="col col-sm-4 hidden" data-event-batch-checkbox-container>
    <%= f.input :show_in_frequency_record, as: :boolean, label: false, inline_label: true %>
  </div>
</div>
