<tbody id='resources-tbody'>
  <% if @conceptual_exams.empty? %>
    <tr>
      <td class='no_record_found' colspan='7'><%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @conceptual_exams.each do |conceptual_exam| %>
      <tr>
        <td><%= conceptual_exam.classroom.unity %></td>
        <td><%= conceptual_exam.classroom %></td>
        <td><span class="multiline"> <%= conceptual_exam.student %> </span></td>
        <td><%= conceptual_exam.step %></td>
        <td>
          <% conceptual_exam.teacher_id = current_teacher_id %>
          <span class='<%= conceptual_exam_label(conceptual_exam.status) %>'>
            <%= conceptual_exam.status_humanize %>
          </span>
        </td>
        <td class='actions'>
          <%= link_to t('views.index.edit'),
            edit_conceptual_exam_path(conceptual_exam), class: 'btn btn-success' %>
          <%= link_to t('views.index.delete'), conceptual_exam_path(conceptual_exam),
            class: 'btn btn-danger', method: 'delete', data: { confirm: t('views.index.confirm') } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
