<tbody id='resources-tbody'>
  <% if @conceptual_exams.empty? %>
    <tr>
      <td class='no_record_found' colspan='7'><%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @conceptual_exams.each do |conceptual_exam| %>
      <tr>
        <td><%= conceptual_exam.classroom.unity %></td>
        <td><%= conceptual_exam.classroom %></td>
        <td><span class="multiline"> <%= conceptual_exam.student %> </span></td>
        <td><%= conceptual_exam.step %></td>
        <td>
          <% conceptual_exam.teacher_id = current_teacher_id %>
          <span class='<%= conceptual_exam_label(conceptual_exam.status) %>'>
            <%= ConceptualExamStatus.t(conceptual_exam.status) %>
          </span>
        </td>
        <td class='actions'>
          <%= link_to t('helpers.links.show_html'), conceptual_exam_path(conceptual_exam), style: "width: 31%;",
                      class: 'btn btn-info apply_tooltip', title: t('conceptual_exams.form.show') %>
          <% if current_user.can_change?(:conceptual_exams) %>
            <%= link_to t('helpers.links.edit_html'), edit_conceptual_exam_path(conceptual_exam), style: "width: 31%;",
                        class: 'btn btn-success apply_tooltip', title: t('conceptual_exams.form.edit') %>
            <%= link_to t('helpers.links.destroy_html'), conceptual_exam_path(conceptual_exam), style: "width: 31%;",
                        class: 'btn btn-danger apply_tooltip', method: 'delete', title: t('conceptual_exams.form.destroy'),
                        data: { confirm: t('views.index.confirm_deletion') } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
