<tr class="nested-fields">
  <td>
    <%= sequence %>
    <%= f.hidden_field :id %>
  </td>
  <td>
    <%= f.input :student_id, as: :hidden %>
    <%= f.object.student.api_code + ' - ' + f.object.student.to_s %>
  </td>

  <td>
    <%= f.input :value, as: :select2, elements: f.object.decorator.data_for_select2, label_html: { class: 'hidden' } %>
  </td>
</tr>