<tr class="nested-fields <%= f.object.dependence? ? 'warning' : '' %>">
  <td>
    <%= sequence %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :dependence %>
  </td>
  <td>
    <%= f.input :student_id, as: :hidden %>
    <%= f.object.student.api_code + ' - ' + f.object.student.to_s + (f.object.dependence? ? '*' : '') %>
  </td>

  <td>
    <%= f.input :value, as: :select2, elements: f.object.decorator.data_for_select2, label_html: { class: 'hidden' } %>
  </td>
</tr>