<% content_for :js do %>
  <%= javascript_include_tag 'attachemnt_size_validator' %>
  <%= javascript_include_tag 'views/discipline_teaching_plans/form' %>
<% end %>


<%= simple_form_for @discipline_teaching_plan, html: { class: 'smart-form', id: 'discipline_teaching_plan' } do |f| %>
  <%= f.error_notification %>
  <%= render 'base_errors', f: f %>

  <%= f.simple_fields_for :teaching_plan, @discipline_teaching_plan.teaching_plan do |teaching_plan_form| %>
    <%= teaching_plan_form.hidden_field :id %>

    <fieldset>
      <div class="row">
        <div class="col col-sm-4">
          <%= teaching_plan_form.input :year, readonly: true %>
        </div>
      </div>

      <div class="row">
        <div class="col col-sm-4">
          <%= teaching_plan_form.association :unity, as: :select2_unity, user: current_user %>
        </div>

        <div class="col col-sm-4">
          <%= teaching_plan_form.association :grade, as: :select2_grade, user: current_user %>
        </div>

        <div class="col col-sm-4">
          <%= f.association :discipline, as: :select2_discipline, user: current_user,
                grade_id: @discipline_teaching_plan.teaching_plan.grade_id %>
        </div>
      </div>

      <div class="row">
        <div class="col col-sm-4">
          <%= teaching_plan_form.input :school_term_type, as: :select2, elements: SchoolTermTypes.to_select.to_json,
                readonly: action_name == 'show' %>
        </div>

        <div id="school-term-container" class="col col-sm-4">
          <%= teaching_plan_form.input :school_term, as: :select2, elements: [], required: true,
                readonly: action_name == 'show' %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= teaching_plan_form.input :objectives, input_html: { class: 'col col-sm-12' },
                readonly: action_name == 'show' %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <legend>Conteúdos</legend>
          <br>
          <% if teaching_plan_form.object.errors[:contents].present? %>
            <div class="alert alert-danger alert-block">
              <i class="fa-fw fa fa-times"></i>
              <span class="help-inline">
                <%= teaching_plan_form.object.errors[:contents].join "<br />" %>
              </span>
            </div>
          <% end %>

          <table class="table table-striped table-bordered table-condensed records">
            <thead>
              <tr>
                <th>Conteúdo</th>
                <th width="73px"></th>
              </tr>
            </thead>

            <tbody id="teaching-plans-contents">
              <%= teaching_plan_form.simple_fields_for :contents, f.object.contents.sort_by { |content| [content.id ? 0 : 1, content.id] } do |content| %>
                <%= render 'content_fields', f: content %>
              <% end %>
            </tbody>

            <tfoot class="links">
              <tr>
                <td colspan="2">
                  <%= link_to_add_association t('.add_content'), teaching_plan_form, :contents,
                    id: 'add-teaching-plans-content',
                    class: 'btn btn-success btn-sm',
                    :"data-association-insertion-method" => "append",
                    :"data-association-insertion-node" => "#teaching-plans-contents",
                    disabled: action_name == 'show' %>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= teaching_plan_form.input :methodology, input_html: { class: 'col col-sm-12' },
                readonly: action_name == 'show' %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= teaching_plan_form.input :evaluation, input_html: { class: 'col col-sm-12' },
                readonly: action_name == 'show' %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <%= teaching_plan_form.input :references, input_html: { class: 'col col-sm-12' },
                readonly: action_name == 'show' %>
        </div>
      </div>

      <div class="row textarea">
        <div class="col col-sm-12">
          <legend>Anexos</legend>
          <div class="alert alert-info fade in">
            <i class="fa-fw fa fa-info"></i>
            <%= t('.format_message') + ' ' + t('.size_message') %>
          </div>
          <br>
          <% if teaching_plan_form.object.errors[:teaching_plan_attachments].present? %>
            <div class="alert alert-danger alert-block ">
              <i class="fa-fw fa fa-times"></i>
              <span class="help-inline">
                <%= teaching_plan_form.object.errors[:teaching_plan_attachments].join "<br />" %>
              </span>
            </div>
          <% end %>
          <table class="table table-striped table-bordered table-condensed records">
            <thead>
              <tr>
                <th><%= t('.attachments') %></th>
                <td width="73px"></td>
              </tr>
            </thead>

            <tbody id="teaching-plan-attachments">
              <%= teaching_plan_form.simple_fields_for :teaching_plan_attachments, teaching_plan_form.object.teaching_plan_attachments do |attachment| %>
                <% if attachment.object.persisted? %>
                  <%= render 'teaching_plan_attachment_show', f: attachment %>
                <% else %>
                  <%= render 'teaching_plan_attachment_fields', f: attachment %>
                <% end %>
              <% end %>
            </tbody>
            <tfoot class="links">
              <tr>
                <td colspan="2">
                  <%= link_to_add_association t('.add_attachment'), teaching_plan_form, :teaching_plan_attachments,
                    class: 'btn btn-success btn-sm',
                    :"data-association-insertion-method" => "append",
                    :"data-association-insertion-node" => "#teaching-plan-attachments" %>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </fieldset>
  <% end %>

  <footer>
    <%= link_to t('views.form.back'), discipline_teaching_plans_path, class: 'btn btn-default' %>
    <%= link_to t('views.form.history'), history_discipline_teaching_plan_path(@discipline_teaching_plan), class: 'btn btn-info' if @discipline_teaching_plan.persisted? %>
    <%= f.submit t('views.form.save'), class: 'btn btn-primary' unless action_name == 'show' %>
  </footer>
<% end %>
