<tbody id="resources-tbody">
<% if @lessons_boards.empty? %>
  <tr>
    <td class="no_record_found" colspan="5"> <%= t('views.index.no_record_found')%></td>
  </tr>
<% else %>
  <% @lessons_boards.each do |lesson_board| %>
    <tr>
      <td><%= lesson_board.classroom.year %></td>
      <td><%= lesson_board.classroom.unity.name %></td>
      <td><%= lesson_board.classrooms_grade.grade.description %></td>
      <td><%= lesson_board.classroom.description %></td>
      <td><%= Periods.translate(Periods.key_for(lesson_board.period.to_s)) %></td>
      <td class="actions" style="width: 120px">
        <%= link_to t('helpers.links.show_html'), lessons_board_path(lesson_board),
                    class: "btn btn-info apply_tooltip apply_tooltip", style: "width: 32%;",
                    data: { original_title: t('views.index.tooltips.show') } %>
        <%= link_to t('helpers.links.edit_html'), edit_lessons_board_path(lesson_board),
                    class: "btn btn-success apply_tooltip", style: "width: 32%;",
                    data: { original_title: t('views.index.tooltips.edit') } %>

        <%= link_to t('helpers.links.destroy_html'), lessons_board_path(lesson_board),
                    class: "btn btn-danger apply_tooltip", method: "delete", style: "width: 32%;",
                    data: {
                      confirm: "Você tem certeza que deseja excluir esse quadro de aula?",
                      original_title: t('views.index.tooltips.delete')
                    } %>
      </td>
    </tr>
  <% end %>
<% end %>
</tbody>
