<tbody id="resources-tbody">
  <% if @tests.empty? %>
    <tr>
      <td class="no_record_found" colspan="7"> <%= t('views.index.no_record_found')%></td>
    </tr>
  <% else %>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.unity %></td>
        <td><%= test.classroom %></td>
        <td><%= test.discipline %></td>
        <td><%= l test.test_date %></td>
        <td><%= test.class_number %></td>
        <td><%= test %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_test_path(test),
            class: "btn btn-success" %>
          <%= link_to 'Excluir', test_path(test),
            class: "btn btn-danger", method: "delete", data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>