<div class="modal" tabindex="-1" role="dialog" id="role-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title">Selecione o perfil atual</h4>
      </div>
      <div class="modal-body">
        <div class="alert in alert-danger hidden" id="no-role-selected-alert">
          Por favor, selecione um perfil para continuar.
        </div>
        <%= simple_form_for @current_user, remote: true, url: set_current_role_path, html: { method: :patch, class: "simple_form smart-form", id: "user-role" } do |f| %>
          <%= f.hidden_field :id, value: f.object.id %>
          <%= f.hidden_field :teacher_id, value: f.object.teacher_id %>
          <%= f.input :current_user_role_id, as: :select2, elements: @current_user.user_roles.includes(:unity), required: true %>
          <div id="unity-field">
            <%= f.input :current_unity_id, as: :select2, elements: [], required: true %>
          </div>
          <div id="school-year-field">
            <%= f.input :current_school_year, as: :select2, elements: [], required: true %>
          </div>
          <div id="assumed-teacher-field">
            <%= f.input :assumed_teacher_id, as: :select2, elements: [] %>
          </div>
          <div id="classroom-field">
            <%= f.input :current_classroom_id, as: :select2, elements: [], required: true %>
          </div>
          <div id="discipline-field">
            <%= f.input :current_discipline_id, as: :select2, elements: [], required: true %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" id="submit-role-modal-form" class="btn btn-primary" >Usar este perfil</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.user = {};
  window.user.current_user_role_id = <%= current_user.current_user_role_id || "undefined" %>;
  window.user.current_unity_id = <%= current_user.current_unity_id || "undefined" %>;
  window.user.assumed_teacher_id = <%= current_user.assumed_teacher_id || "undefined" %>;
  window.user.current_classroom_id = <%= current_user.current_classroom_id || "undefined" %>;
  window.user.current_discipline_id = <%= current_user.current_discipline_id || "undefined" %>;
  window.user.current_school_year = <%= current_user.current_school_year || "undefined" %>;
</script>
