<aside id="left-panel">
  <div class="login-info">
    <span>
      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path do %>
          <%= gravatar_image_tag current_user.email %>
          <%= content_tag :span, current_user.login %>
        <% end %>
      <% end %>
    </span>
  </div>

  <nav>
    <ul>
      <li>
        <a href="/" title="Dashboard">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="***REMOVED***-item-parent">Dashboard</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-cog"></i>
          <span class="***REMOVED***-item-parent">Configurações</span>
        </a>

        <ul>
          <li>
            <%= link_to t('***REMOVED***.profiles'), profiles_path %>
          </li>

          <li>
            <%= link_to t('***REMOVED***.unities'), unities_path %>
          </li>

          <li>
            <%= link_to t('***REMOVED***.ieducar_api_configurations'), edit_ieducar_api_configurations_path %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
