<aside id="left-panel">
  <div class="login-info">
    <span>
      <% if user_signed_in? %>
        <%= link_to edit_account_path, title: 'Editar meus dados' do %>
          <%= gravatar_image_tag current_user.email %>
          <%= content_tag :span, current_user.login %>
        <% end %>
      <% end %>
    </span>
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.dashboard') %></span>
        </a>
      </li>

      <li>
        <%= link_to disciplinary_incidents_path do %>
          <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
          <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.disciplinary_incidents') %></span>
        <% end %>
      </li>

      <li>
        <%= link_to ***REMOVED***_path do %>
          <i class="fa fa-lg fa-fw fa-graduation-cap"></i>
          <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
        <% end %>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-cutlery"></i>
          <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
        </a>

        <ul>
          <li>
            <%= link_to ***REMOVED***_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
            <% end %>
          </li>

          <li>
            <%= link_to ***REMOVED***s_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***s') %></span>
            <% end %>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-cog"></i>
          <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.configurations') %></span>
        </a>

        <ul>
          <li>
            <%= link_to t('***REMOVED***.profiles'), profiles_path %>
          </li>

          <li>
            <%= link_to t('***REMOVED***.unities'), unities_path %>
          </li>

          <li>
            <%= link_to t('***REMOVED***.ieducar_api_configurations'), edit_ieducar_api_configurations_path %>
          </li>
        </ul>
      </li>

      <li>
        <%= link_to ***REMOVED***_path do %>
          <i class="fa fa-lg fa-fw fa-bullhorn"></i>
          <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
        <% end %>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-exchange"></i>
          <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***')%></span>
        </a>

        <ul>
          <li>
            <%= link_to ***REMOVED***_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
            <% end %>
          </li>

          <li>
            <%= link_to ***REMOVED***_classes_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***_classes') %></span>
            <% end %>
          </li>

          <li>
            <%= link_to ***REMOVED***_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
            <% end %>
          </li>

          <li>
            <%= link_to ***REMOVED***_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
            <% end %>
          </li>

          <li>
            <%= link_to ***REMOVED***_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
            <% end %>
          </li>

          <li>
            <%= link_to ***REMOVED***_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
            <% end %>
          </li>

          <li>
            <%= link_to ***REMOVED***_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
            <% end %>
          </li>

          <li>
            <%= link_to ***REMOVED***_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
            <% end %>
          </li>

          <li>
            <%= link_to ***REMOVED***_path do %>
              <span class="***REMOVED***-item-parent"><%= t('***REMOVED***.***REMOVED***') %></span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
