<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%= render 'layouts/datalayer' %>
    <%= render 'layouts/google_tag_manager_head' %>
    <%= render 'layouts/default_headers', title: title %>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

    <script type="text/javascript">
      <% if current_user %>
        window.state = {
          current_role_id: "<%= current_user.current_user_role_id %>",
          available_roles: <%= raw current_user.user_roles.as_json(only: [:id],
                                                                   methods: [
                                                                     :name,
                                                                     :can_change_school_year,
                                                                     :role_access_level,
                                                                     :unity_id
                                                                   ]).to_json %>,
          current_unity_id: '<%= current_user.current_unity_id %>',
          available_unities: <%= raw current_unities.as_json(only: [:id, :name]).to_json %>,
          current_school_year: "<%= current_user.current_school_year %>",
          available_school_years: <%= raw current_user_available_years.to_json %>,
          current_classroom_id: '<%= current_user.current_classroom_id %>',
          available_classrooms: <%= raw current_user_available_classrooms.as_json(only: [:id, :description]).to_json %>,
          current_teacher_id: '<%= current_user.current_teacher_id %>',
          available_teachers: <%= raw current_user_available_teachers.as_json(only: [:id, :name]).to_json %>,
          current_discipline_id: '<%= current_user.current_discipline_id %>',
          available_disciplines: <%= raw current_user_available_disciplines.as_json(only: [:id, :description]).to_json %>,
          teacher_id: "<%= current_user.teacher_id %>"
        };
      <% end %>
  </script>
  </head>

  <body class="smart-style-2 fixed-header <%= controller_name %>">
    <%= render 'layouts/google_tag_manager_body' %>

    <div id="page-loading" class="hidden">
      <i class="fa fa-cog fa-spin"></i>
      Carregando ...
    </div>

    <header id="header" style="height: 77px; background-color: #27333B;">
      <% if false %>
        <% if current_user.current_user_role.blank? ||
              current_user.current_role_is_admin_or_employee_or_teacher? ||
              current_user.parent_can_change_profile? %>
          <%=
            render(
              "users/selectors",
              user: current_user,
              user_role: current_user.current_user_role || NullUserRole.new,
              unity: current_user.current_unity,
              teacher: current_user.current_teacher,
              classroom: current_user.current_classroom,
              discipline: current_user.current_discipline
            )
          %>
      <% end %>
    <% else %>
      <%= render "layouts/profile_selection" %>
    <% end %>

      <div class="pull-right" style="margin-top: 15px;">
        <% if user_signed_in? %>
          <div id="hide-menu" class="btn-header pull-right">
            <span>
              <a href="javascript:void(0);" data-action="toggleMenu" title="Exibir/Esconder o Menu">
                <i class="fa fa-reorder"></i>
              </a>
            </span>
          </div>
          <%= render 'layouts/system_notifications' %>
        <% end %>
      </div>
    </header>

    <%= render 'layouts/navigation' %>

    <div id="main" role="main">
      <div id="ribbon" style="padding-left: 15px; padding-top: 15px;">
        <%= breadcrumbs %>
      </div>

      <%= yield :back_link %>

      <div id="content">
        <div id="flash-messages">
          <%= bootstrap_flash %>
        </div>

        <section id="widget-grid" class="">
          <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="jarviswidget">
                <header>
                  <h2><%= title_with_icon %></h2>
                </header>

                <div id="content-page" role="content">
                  <%= yield %>
                </div>
              </div>
            </article>
          </div>
        </section>
      </div>
    </div>

    <div class="page-footer">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <span class="txt-color-white"><%= entity_copyright %></span>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag 'app' %>

    <%= yield :js %>
  </body>
</html>
