<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> - Educar+</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag "error_pages" %>
    <%  if freshdesk_enabled? && !Rails.env.test? %>
      <%= javascript_include_tag 'freshwidget' %>
      <%= javascript_include_tag 'freshwidget_call' %>
      <%= javascript_include_tag 'chat_helpdesk' %>
    <% end %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2 error-actions">
          <a href="javascript:history.back()" class="btn btn-primary btn-lg" style="width: 100%;">Voltar para a página anterior</a>
        </div>
        <%  if freshdesk_enabled? && !Rails.env.test? %>
          <div class="col-sm-4 error-actions">
           <a href="#" class="btn btn-default btn-lg error-page-support-button" style="width: 100%;">Solicitar ajuda a nossa equipe de suporte</a>
          </div>
        <% end %>
      </div>
    </div>

    <script type="text/javascript">
      var entity = window.location.hostname

      if (entity.match(/clientetest3/)) {
        FreshWidget.init("",
            {"queryString": "&widgetType=popup&formTitle=Suporte+ao+Usu%C3%A1rio&submitTitle=Enviar&submitThanks=Obrigado%2C+j%C3%A1+registramos+sua+solicita%C3%A7%C3%A3o.+Em+breve+entraremos+em+contato.&searchArea=no",
            "utf8": "✓",
            "widgetType": "popup",
            "buttonType": "text",
            "buttonText": "Precisa de ajuda? Clique aqui",
            "buttonColor": "white",
            "buttonBg": "#0ac336",
            "alignment": "3",
            "offset": "235px",
            "submitThanks": "Obrigado, já registramos sua solicitação. Em breve entraremos em contato.",
            "formHeight": "500px",
            "url": "http://suporte.edutopia.com.br"}
        );
      } else {
        FreshWidget.init("", {
            "queryString": "&searchArea=no&widgetType=popup&formTitle=Suporte+ao+Usu%C3%A1rio+Portabilis&submitTitle=Enviar+solicitação&submitThanks=Obrigado%2C+j%C3%A1+registramos+sua+solicita%C3%A7%C3%A3o.+Em+breve+entraremos+em+contato.",
            "widgetType": "popup",
            "buttonType": "text",
            "buttonText": "Precisa de ajuda? Clique aqui",
            "buttonColor": "white",
            "buttonBg": "#004c93",
            "alignment": "3",
            "offset": "-2000px",
            "submitThanks": "Obrigado, já registramos sua solicitação. Em breve entraremos em contato.",
            "formHeight": "500px",
            "url": "https://portabilis.freshdesk.com"
        });
      }
      document.getElementsByClassName("error-page-support-button")[0].onclick = function() {
        FreshWidget.show();
        return false;
      }
    </script>
  </body>
</html>
