<% content_for :js do %>
  <%= javascript_include_tag 'views/daily_frequencies_in_batchs/edit_multiple' %>
<% end %>

<div class="widget-body no-padding">
  <table class="table table-bordered table-only-inner-bordered">
    <thead>
      <th><%= DailyFrequency.human_attribute_name :unity %></th>
      <th><%= DailyFrequency.human_attribute_name :classroom %></th>
      <th><%= DailyFrequency.human_attribute_name :discipline %></th>
      <th><%= DailyFrequency.human_attribute_name :frequency_date %></th>
    </thead>
    <tbody style="border-bottom: 1px solid #ccc;">
      <td><%= @classroom.description %></td>
      <td><%= @classroom.unity.name %></td>
      <td><%= @discipline.description || 'Todas' %></td>
      <% start_date = params[:start_date] || params[:frequency_in_batch_form][:start_date] %>
      <% end_date = params[:end_date] || params[:frequency_in_batch_form][:end_date] %>
      <% if start_date == end_date %>
        <td><%= start_date.to_s %></td>
      <% else %>
        <td><%= start_date.to_s + ' a ' + end_date.to_s %></td>
      <% end %>
    </tbody>
  </table>

  <%= simple_form_for :frequency_in_batch_form, url: create_or_update_multiple_daily_frequencies_in_batchs_path, method: :put,
                      html: { class: 'smart-form daily_frequency' } do |f| %>
    <table class="table table-bordered table-only-inner-bordered table-striped table-hover">
      <thead>
      <th style="width: 65px;">Sequencial</th>
      <th style="min-width: 200px;"><%= DailyFrequencyStudent.human_attribute_name :student %></th>
      <% @daily_frequencies = [] %>
      <% if @general_configuration.type_of_teaching == true %>
        <th>Modalidade de ensino</th>
      <%end%>
      <% params[:dates].each do |date| %>
        <% date[:daily_frequencies].each do |daily_frequency| %>
          <% @daily_frequencies <<  daily_frequency %>
        <% end %>
        <th style="text-align: center">
          <%= 'Dia ' + date[:date].to_date.strftime("%d") %>
        </th>
      <% end %>
      <th><%= 'Qtd. de faltas no período' %></th>
      </thead>
      <tbody>
      <input type="hidden" name="unity_id" value="<%= @classroom.unity.id %>">

      <input type="hidden" name="classroom_id" value="<%= @classroom.id %>">

      <input type="hidden" name="discipline_id" value="<%= @discipline.id %>">

      <input type="hidden" name="period" value="<%= @period %>">

      <input type="hidden" name="start_date" value="<%= start_date %>">

      <input type="hidden" name="end_date" value="<%= end_date %>">


      <% @students.each_with_index do |student, index| %>
        <%=  render 'student_fields', student: student, index: index %>
      <% end %>
      </tbody>
    </table>
    <footer>
      <div class="pull-left">
        <%= link_to 'Voltar', new_daily_frequencies_in_batch_path, class: 'btn btn-default pull-left' %>
        <% daily_frequency_ids = @daily_frequencies.map(&:id).compact %>
        <% if daily_frequency_ids.present? %>
          <%= link_to t('.destroy'), destroy_multiple_daily_frequencies_in_batchs_path(
            daily_frequencies_ids: daily_frequency_ids), method: :delete,
                      data: { confirm: t('.confirm') }, class: 'btn new-delete-style pull-left'
          %>
          <%= link_to t('views.form.history'), history_multiple_daily_frequencies_in_batchs_url(
            daily_frequencies_ids: daily_frequency_ids), class: 'btn btn-primary pull-left'
          %>
          <div class="btn-group pull-left dropup" style="margin-left: 5px;">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <%= t('.print') %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to(t('.by_month'), attendance_record_report_path(
                  attendance_record_report_form: params_for_print_month(@daily_frequencies)), method: :post,
                            target: '_blank')
                %>
              </li>
              <li>
                <%= link_to(t('.by_step'), attendance_record_report_path(
                  attendance_record_report_form: params_for_print_step(@daily_frequencies)), method: :post,
                            target: '_blank')
                %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="pull-right">
        <%= f.submit t('daily_frequencies_in_batchs.edit_multiple.save'), class: 'btn new-save-style', data: { disable_with: 'Salvando...' } %>
      </div>
    </footer>
  <% end %>
</div>
